<p>
    Настоящие Правила предоставления и обслуживания онлайн займов (далее – Правила)
    разработаны в целях регулирования отношений, возникающих между ООО МКК «АН
    БизнесИнвест» (далее по тексту - «Займодавец») и физическим лицом, являющимся заемщиком
    (далее по тексту - Заемщик), в связи с предоставлением Заемщику потребительского займа в
    соответствии с Конституцией РФ от 12.12.1993г., Гражданским кодексом Российской Федерации,
    Федеральным законом № 151-ФЗ от 02 июля 2010 г. «О микрофинансовой деятельности и
    микрофинансовых организациях», Федеральным законом №353-ФЗ от 21.12.2013 г. «О
    потребительском кредите (займе)», иным действующим законодательством Российской
    Федерации и утверждены приказом Директора.
</p>
<p>
    Правила определяют порядок и условия предоставления займов. Настоящие Правила
    доступны всем лицам для ознакомления и содержат основные условия предоставления займов.
    Копия Правил предоставления займов размещается в месте, доступном для обозрения и
    ознакомления с ними любого заинтересованного лица - в сети Интернет на сайте
    <a href="https://slonfinance.ru/about/docs">https://slonfinance.ru/about/docs</a>. Правилами предоставления займов не могут устанавливаться
    условия, определяющие права и обязанности сторон по договору потребительского займа. В
    случае установления в правилах предоставления займов условий, противоречащих условиям
    договора потребительского займа, заключенного с заемщиком, применяются положения договора
    потребительского займа.
</p>
<br>
<p>
    <b>1. ОБЩИЕ ПОЛОЖЕНИЯ</b>
</p>
<br>
<p>
    В настоящих Правилах используются следующие <b>термины и понятия</b>:
    <br>
    <b>Организация</b> – микрокредитная компания ООО МКК «АН БизнесИнвест»;
    <br>
    <b>Заявитель</b> – физическое лицо, намеревающиеся заключить Договор займа с Организацией;
    <br>
    <b>Заемщик</b> – физическое лицо, заключивший Договор займа с Организацией;
    <br>
    <b>Заявление-анкета</b> - документ на предоставление займа, полученный от физического лица и
    оформленный в соответствии с требованиями настоящих Правил;
    <br>
    <b>Микрофинансирование</b> - деятельность Организации, связанная с предоставлением займов
    физическим лицам на условиях гласности, законности, возвратности, возмездности, срочности;
    <br>
    <b>Займ</b> - потребительский займ, предоставляемый Организацией Заемщику, на условиях,
    предусмотренных Договором потребительского займа, в сумме, от 1 000 (одной тысячи) рублей и
    не превышающей 15 000 (пятнадцать тысяч рублей) вместе с начисленными процентами,
    выданный на срок, не превышающий 365 дней, по процентной ставке от 30% до 787% годовых,
    согласованной и указанной сторонами в договоре потребительского займа.
    <br>
    <b>Договор займа</b> - договор о предоставлении потребительского займа, заключаемый между
    Заемщиком и Организацией по форме, установленной Организацией;
    <br>
    <b>Сайт</b> — сайт МКК, расположенный в сети Интернет по адресу: <a href="https://www.slonfinance.ru">www.slonfinance.ru</a>
    <br>
    <b>Личный кабинет</b> – поддерживаемая МКК информационная подсистема Сайта, представляющая
    собой личную страницу Заемщика по адресу <a href="https://slonfinance.ru/login/">https://slonfinance.ru/login/</a>, которая позволяет
    Заемщику и МКК осуществлять дистанционное взаимодействие в электронной форме.
    <br>
    <b>Платеж</b> – автоматическое (в день возврата займа) списание денежных средств (платежа) с
    дебетовой карты Заёмщика.
    <br>
    <b>Материнский платеж</b> — взнос денежных средств в размере от 1 до 20 рублей, осуществляемый
    для «привязки» дебетовой карты Заемщика к системе электронных платежей с целью
    осуществления Рекуррентного платежа. Материнский платеж подлежит возврату в момент
    выдачи Заемщику займа.
    <br>
    <b>Дебетовая карта</b> - банковская платежная карта, используемая для оплаты товаров и услуг,
    получения наличных денежных средств в банкоматах, операции по которой осуществляются за
    счёт собственных денежных средств держателя такой карты.
</p>
<br>
<p>
    <b>2. УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ ЗАЙМОВ</b>
</p>
<br>
<p>
    2.1.  Организация предоставляет займы физическим лицам - гражданам РФ, постоянно
    зарегистрированным на территории одного из субъектов РФ, зарегистрированным на территории
    административной единицы в местах нахождения офисов Организации, на потребительские
    нужды.
</p>
<p>
    2.2.  Займ предоставляется в валюте Российской Федерации.
</p>
<p>
    2.3.  Займ предоставляется без обеспечения или с обеспечением на следующих условиях:
</p>
<p>
    2.4.  Лицо, претендующее на предоставление займа, заполняет Заявление на Сайте.
</p>
<p>
    2.5.  Заявление формируется и подается в электронном виде с использованием инструментов,
        доступных на Сайте.
</p>
<p>
    2.6.  Заявления включает в себя сведения:
    <br>
    A) о Заемщике:
    <ul>
        <li>ФИО;</li>
        <li>адрес;</li>
        <li>контактные данные;</li>
        <li>телефон;</li>
        <li>паспортные данные;</li>
        <li>иные сведения, указанные Заемщиком;</li>
    </ul>
    Б) информацию о финансовой платежеспособности Заемщика:
    <ul>
        <li>семейное положение;</li>
        <li>места работы;</li>
        <li>сведения о доходе;</li>
        <li>наличие иных обязательств и задолженностей.</li>
    </ul>
</p>
<p>
    2.7.  В момент подачи Заявления Заемщик выражает свое согласие на обработку персональных
    данных, содержащихся в Заявлении.
</p>
<p>
    2.8.  В целях идентификации личности Заемщика МКК на телефонный номер, указанный
    Заемщиком, может быть направлено SMS-сообщение с кодом подтверждения.
</p>
<p>
    2.9.  Полученный в SMS-сообщении код Заемщик вводит на Сайте, чем подтверждает свою
    личность и принадлежность указанного им телефонного номера.
</p>
<p>
    2.10.  Введенный Заемщиком код рассматривается Сторонами в качестве аналога
    собственноручной подписи Заемщика, дополнительного заключения и подписания иных
    документов не требуется.
</p>
<p>
    2.11.  После указания сведений и подтверждения личности Заявление формируется автоматически
    и направляется в адрес МКК для рассмотрения.
</p>
<p>
    2.12.  Займы предоставляются дееспособным гражданам Российской Федерации:
    <ul>
        <li>в возрасте от 18 лет при условии, что срок возврата займа по договору наступает до
        исполнения заемщику 75 лет;</li>
        <li>постоянно проживающим на территории Российской Федерации,</li>
        <li>отсутствие задолженности (неисполненных обязательств) перед Займодавцем по ранее
        принятым на себя Заемщикам обязательствам,</li>
        <li>отсутствие трудовых отношений с Займодавцем на момент подачи Заявления,</li>
        <li>иные требования к Заемщику устанавливаются в «Информации об условиях
        предоставления, использования и возврата потребительского «Микрозайма»</li>
        <li>наличие мобильного телефона и постоянной возможности пользоваться им.</li>
    </ul>
</p>
<p>
    2.13.  Рассмотрение Заявки-Анкеты на предоставление займа и принятия решения о его выдаче
    или решения об отказе в его выдаче, осуществляется при личном предъявлении Кредитному
    специалисту Организации Заявителем оригинала общегражданского паспорта. Отсутствие
    общегражданского паспорта является основанием для безусловного отказа в предоставлении
    займа.
</p>
<p>
    2.14.  У Заявителя при необходимости также могут быть запрошены документы и сведения,
    подтверждающие его трудовую занятость и оценку кредитоспособности.
</p>
<p>
    2.15.  Заемщик настоящим извещается о том, что при оформлении документов Кредитный
    специалист Организации производит копирование (сканирование) предоставленных документов
    (заполненных страниц). Все полученные данные формируют базу документов Организации,
    Кредитный специалист не передает имеющиеся персональные данные третьим лицам, за
    исключением, кроме как в целях осуществления проверки (перепроверки) данных, содержащихся
    в Заявке-Анкеты на предоставление займа, и/или коллекторских агентств, при возникновении
    конфликтной ситуации по факту не возврата займа, а также государственных органов и/или
    органов местного самоуправления, на основании соответствующих запросов и/или при
    осуществлении действий, направленных на защиту интересов Организации и/или восстановление
    своих нарушенных прав, бюро кредитных историй в соответствии с требованиями
    законодательства РФ.
</p>
<p>
    2.16.  Допускается мотивированный отказ от предоставления займа.
</p>
<p>
    2.17.  В предоставлении займов должно быть отказано при наличии любого из следующих
    оснований:
    <ul>
        <li>не представлены необходимые документы, определенные п. 3.2.8 настоящих Правил;</li>
        <li>документы, предоставленные Заявителем, не соответствуют требованиям действующего
        законодательства РФ;</li>
        <li>информация, сообщенная о себе Заявителем, не соответствует действительности;</li>
        <li>возрастные ограничения (Заявителю менее 18 лет);</li>
        <li>имело место отрицательная кредитная история Заявителя или Заявитель имеет не
        исполненные обязательства по уплате налогов и сборов;</li>
        <li>ранее в отношении Заявителя было принято решение о предоставлении займа, и срок его
        возврата не истек на момент обращения;</li>
        <li>Заявитель отказался предоставить Организации согласие на обработку персональных
        данных.</li>
        <li>получена информация, которая неблагоприятно влияет на деловую репутацию,
        добросовестность, платежеспособность заемщика;</li>
        <li>платежеспособность заемщика или предоставленное обеспечение займа не удовлетворяют
        требованиям Займодавца;</li>
    </ul>
    Возможны иные основания отказа в предоставлении займа.
</p>
<p>
    2.18.  Выдача займа осуществляется на потребительские цели. Цель предоставления займа
    указывается в индивидуальных условиях договора. Договором потребительского займа
    предусматривается право контроля со стороны Займодавца за целевым использованием займа с
    одновременным возложением на заемщика обязанности обеспечить возможность осуществления
    такого контроля.
</p>
<br>
<p>
    <b>3. РАССМОТРЕНИЕ ЗАЯВЛЕНИЯ</b>
</p>
<br>
<p>
    3.1.  Заявление рассматривается МКК в день поступления.
</p>
<p>
    3.2.  По окончании заполнения Заявления Заемщиком, документ в электронном виде поступает
    МКК для рассмотрения.
</p>
<p>
    3.3.  При рассмотрении Заявления на предоставление займа и исполнении Договора МКК
    соблюдает Политику Конфиденциальности.
</p>
<p>
    3.4.  При рассмотрении Заявления МКК на основании данного Заемщиком согласия,
    подписанного простой электронной подписью, проводит проверку достоверности
    предоставленных Заемщиком данных, при необходимости проводит сбор дополнительных
    данных, проводит оценку платежеспособности Заемщика с применением скоринговых методик и
    данных кредитной истории Заемщика, проводит мероприятия в соответствии с
    законодательством о противодействии легализации доходов, полученных преступным путем, и
    противодействии терроризму.
</p>
<p>
    3.5.  В предоставлении Займа может быть отказано в случаях:
    <br>
    &emsp;3.5.1. недостоверности предоставленной Заемщиком информации;
    <br>
    &emsp;3.5.2. несоответствия данных о Заемщике условиям предоставления Займа, установленным
    настоящими Правилами;
    <br>
    &emsp;3.5.3. Заемщик не предоставил информацию о источниках доходов, за счет которых им
    предполагается исполнение обязательств по договору займа;
    <br>
    &emsp;3.5.4. если общая сумма основного долга заемщика перед МКК по всем имеющимся у
    Заемщика займам, выданным Кредитором, превысит предельный размер обязательств Заемщика
    перед Кредитором в 500 000 (пятьсот тысяч) рублей;
    <br>
    &emsp;3.5.5. наличия у МКК оснований полагать, что Заём не будет возвращен в срок, так как
    представленная Заемщиком информация свидетельствует о возможной неплатежеспособности
    Заемщика;
    <br>
    &emsp;3.5.6. кредитная история Заемщика содержит сведения о ненадлежащем выполнении
    Заемщиком своих обязательств по договорам займа/кредита;
    <br>
    &emsp;3.5.7. наличия у Заемщика просроченной задолженности перед МКК;
    <br>
    &emsp;3.5.8. по иным основаниям, предусмотренным законом или настоящими Правилами.
</p>
<p>
    3.6.  Информация об отказе от предоставления займа или его части направляется МКК в бюро
    кредитных историй в соответствии с законодательством Российской Федерации.
</p>
<p>
    3.7.  В случае одобрения Заявления МКК производит выплату денежных средств на указанные
    Заемщиком реквизиты банковской карты Visa или Mastercard
</p>
<p>
    3.8.  До момента выплаты денежных средств МКК может быть установлено требование о
    формировании Заемщиком соответствующего поручения к организации, осуществляющей
    обслуживание принадлежащей ему Дебетовой карты.
</p>
<p>
    3.9.  В целях установления Рекуррентного платежа осуществляется «привязка» Дебетовой карты
    Заемщика путем совершения Материнского платежа.
</p>
<p>
    3.10.  Договор считается заключенным (вступает в силу) с момента поступления денежных
    средств по реквизитам, указанным Заемщиком.
</p>
<p>
    3.11.  В случае, если перечисление денежных средств невозможно по техническим причинам,
    либо в результате неверно указанных данных, МКК уведомляет об это Заемщика.
</p>
<p>
    3.12.  В целях идентификации личности Заемщика МКК требует предоставления скан-копии
    документа, удостоверяющего личность Заемщика (паспорт, военный билет, водительское
    удостоверение и т.п.).
</p>
<br>
<p>
    <b>4. ЗАКЛЮЧЕНИЕ ДОГОВОРА ЗАЙМА</b>
</p>
<br>
<p>
    4.1.  При принятии положительного решения о заключении договора займа с Заемщиком МКК
    направляет Заемщику Индивидуальные условия договора потребительского займа.
</p>
<p>
    4.2.  График платежей до заключения договора потребительского займа предоставляется
    Заемщику в составе Индивидуальных условий потребительского займа .
</p>
<p>
    4.3.  Подписывая Индивидуальные условия договора потребительского займа, Заемщик
    соглашается возвратить сумму займа и начисленные на нее проценты за пользование займом в
    размере и сроки, предусмотренные договором.
</p>
<p>
    4.4.  Заемщик может не соглашаться с Индивидуальными условиями договора потребительского
    займа.
</p>
<p>
    4.5.  Индивидуальные условия договора потребительского займа признаются подписанными
    Заемщиком в случае, если в течение 5 (пяти) рабочих дней со дня предоставления ему
    Индивидуальных условий договора потребительского займа, Заемщик:
    <br>
    &emsp;4.5.1. подпишет размещенные на Сайте, в т.ч. в Личном кабинете, Индивидуальные условия
    договора потребительского займа, специальным кодом (простой электронной подписью),
    полученным в SMS-сообщении от МКК. Стороны согласовали, что в соответствии с
    положениями п. 2 статьи 160 Гражданского кодекса Российской Федерации Индивидуальные
    условия договора потребительского займа с указанной в неих идентифицирующей Заемщика
    информацией (данные паспорта гражданина Российской Федерации, место регистрации
    Заемщика, номер мобильного телефона, адрес электронной почты), а также специального кода,
    считается надлежаще подписанной Заемщиком аналогом собственноручной подписи
    (совокупностью идентифицирующей информации)
</p>
<p>
    4.6.  В случае подписания Заемщиком Индивидуальных условий договора потребительского
    займа, МКК в течение 5 (пяти) рабочих дней перечисляет сумму займа, на банковский
    счет/банковскую карту Заемщика, указанный в Заявлении или по номеру кошелька в системе
    «Яндекс.Деньги» или через систему денежных переводов «Юнистрим»
</p>
<p>
    4.7.  Договор займа считается заключенным со дня передачи Заемщику денежных средств (дня
    получения займа), которым признается:
    <br>
    &emsp;4.7.1. Зачисление суммы Займа на счёт/банковскую карту либо первый рабочий день, следующий
    за датой списания денежных средств (Суммы займа) с расчетного счета МКК, при условии, что
    Заемщик не докажет более позднюю дату фактического получения денежных средств.
</p>
<br>
<p>
    <b>5. РАЗМЕР, СРОКИ ВЫДАЧИ И НАЧИСЛЕНИЕ ПРОЦЕНТОВ ПО ЗАЙМУ</b>
</p>
<br>
<p>
    5.1.  Минимальная сумма займа составляет 1000 (одна тысяча) рублей. Максимальная сумма займа
    составляет 15 000 (пятнадцать тысяч) рублей. Лимит сумм предоставления займа
    предусматривается п.З ст.2. Федерального закона № 151-ФЗ от 02 июля 2010 г. «О
    микрофинансовой деятельности и микрофинансовых организациях».
</p>
<p>
    5.2.  Срок, на который выдается займ, составляет от 1 до 30 дней.
</p>
<p>
    5.3.  Проценты за пользование займом составляют от 365% до 787% годовых:
</p>
<p>
    5.4.  Проценты за пользование займом начисляются на остаток суммы займа с момента получения
    займа и до момента истечения срока займа включительно.
</p>
<p>
    5.5.  Процентная ставка устанавливается Индивидуальными условиями Договора займа и
    определяется в % годовых. Размеры начисленных процентов за пользование займом установлены
    Договором займа.
</p>
<p>
    5.6.  Комиссия за предоставление займа не взимается.
</p>
<p>
    5.7.  Займодавец не вправе начислять заемщику - физическому лицу проценты и иные платежи по
    договору потребительского займа, срок возврата потребительского займа по которому не
    превышает одного года, за исключением неустойки (штрафа, пени) и платежей за услуги,
    оказываемые заемщику за отдельную плату, в случае, если сумма начисленных по договору
    процентов и иных платежей достигнет трехкратного размера суммы займа.
</p>
<p>
    5.8.  После возникновения просрочки исполнения обязательства заемщика - физического лица по
    возврату суммы займа и (или) уплате причитающихся процентов по договору потребительского
    займа, срок возврата потребительского займа по которому не превышает одного года,
    Займодавец вправе продолжать начислять заемщику - физическому лицу проценты только на не
    погашенную им часть суммы основного долга. Проценты на не погашенную заемщиком часть
    суммы основного долга продолжают начисляться до достижения общей суммы подлежащих
    уплате процентов размера, составляющего двукратную сумму непогашенной части займа.
    Займодавец не вправе осуществлять начисление процентов за период времени с момента
    достижения общей суммы подлежащих уплате процентов размера, составляющего двукратную
    сумму непогашенной части займа, до момента частичного погашения заемщиком суммы займа и
    (или) уплаты причитающихся процентов.
</p>
<p>
    5.9.  После возникновения просрочки исполнения обязательства заемщика - физического лица по
    возврату суммы займа и (или) уплате причитающихся процентов по договору потребительского
    займа, срок возврата потребительского займа по которому не превышает один год, Займодавец
    вправе начислять заемщику - физическому лицу неустойку (штрафы, пени) и иные меры
    ответственности только на не погашенную заемщиком часть суммы основного долга.
</p>
<br>
<p>
    <b>6. ВОЗВРАТ ЗАЙМА</b>
</p>
<br>
<p>
    6.1.  По истечению срока пользования займом, согласно договору Специалист по кредитования
    принимает денежные средства от Заемщика в размере суммы займа и суммы процентов за
    пользование таким займом. Возврат денежных средств осуществляется Заемщиком одной
    суммой единовременно, не позднее даты, указанной в п.2 Индивидуальных условий Договора в
    размере, предусмотренном п.6 Индивидуальных условий договора.
</p>
<p>
    6.2.  Погашение задолженности по займу осуществляется взносом наличными в кассе по месту
    нахождения Займодавца по приходному кассовому ордеру.
</p>
<p>
    6.3.  Также платежи, связанные с погашением Займа и уплатой процентов, могут быть
    осуществлены Заёмщиком путём перечисления (перевода) в безналичном порядке денежных
    средств через кредитные организации на банковские реквизиты Займодавца (с обязательным
    указанием номера Договора в назначении платежа).
</p>
<p>
    6.4.  Комиссия за внесение денежных средств в кассу по месту нахождения Займодавца
    отсутствует.
</p>
<p>
    6.5.  Датой исполнения Заёмщиком своих денежных обязательств по Договору займа считается
    дата поступления соответствующих денежных средств в кассу Займодавца или на расчётный счёт
    Займодавца.
</p>
<br>
<p>
    <b>7. ДОСРОЧНОЕ ПОГАШЕНИЕ ЗАЙМА</b>
</p>
<br>
<p>
    7.1.  Досрочное погашение суммы займа осуществляется в любое время начиная с даты выдачи
    займа без предварительного уведомления Займодавца.
</p>
<p>
    7.2.  При досрочном погашении займа проценты начисляются только за фактический период
    пользования заемными средствами, включая день возврата займа.
</p>
<p>
    7.3.  В случае досрочного погашения в день выдачи займа срок пользования денежными
    средствами считается равным 1 дню. Проценты по займу в случае досрочного погашения в день
    выдачи займа начисляются исходя из фактического срока пользования денежными средствами,
    равного 1 дню.
</p>
<p>
    7.4.  Комиссия за досрочный возврат займа не взимается.
</p>
<p>
    7.5.  Досрочное погашение суммы займа осуществляется на основании Заявления о досрочном
    погашении займа Заемщика.
</p>
<p>
    7.6.  Сумма, оплачиваемая Заемщиком при досрочном погашении займа, включает в себя сумму
    процентов за фактический период пользования заемными средствами и сумму займа.
</p>
<p>
    7.7.  При досрочном погашении суммы займа Заемщик так же оплачивает проценты за
    фактическое количество дней пользования займом. При погашении суммы займа в день его
    оформления, Заемщик так же уплачивает сумму процентов за один день пользования займом.
</p>
<p>
    7.8.  Сумма займа считается возвращенной в момент передачи наличных денег в кассу
    Организации или зачисления соответствующих денежных средств на расчетный счет.
</p>
<br>
<p>
    <b>8. ИЗМЕНЕНИЕ УСЛОВИЙ ДОГОВОРА ЗАЙМА</b>
</p>
<br>
<p>
    8.1.  Процентные ставки и (или) порядок их определения по договорам займа, комиссионное
    вознаграждение и сроки действия этих договоров не подлежат изменению в одностороннем
    порядке.
</p>
<br>
<p>
    <b>9. ДОСЬЕ ЗАЕМЩИКА</b>
</p>
<br>
<p>
    9.1. По каждому Заемщику, получившему положительное решение о предоставлении займа,
    Займодавец формирует досье заемщика.
</p>
<p>
    9.2. Досье заемщика содержит наименование заемщика, его место нахождения/жительства,
    номер и дату договора займа, сумму займа.
</p>
<p>
    9.3. В досье Заемщика помещаются все документы, полученные в результате мониторинга.
</p>
<p>
    9.4. Все документы, полученные от заемщика, являются документами ограниченного
    использования. Содержащиеся в них сведения не подлежат разглашению, передаче для
    ознакомления другим лицам, кроме лиц, имеющих право доступа в силу своих должностных
    обязанностей.
</p>
<p>
    9.5. По окончании действия договора займа в досье помещается акт сверки взаимных расчетов.
</p>
<p>
    9.6. Сформированное досье сдается в архив Займодавца и хранится в течение 5 (пяти) лет.
</p>
<br>
<p>
    <b>10. СОПРОВОЖДЕНИЕ ДОГОВОРА ЗАЙМА</b>
</p>
<br>
<p>
    10.1. На следующий день после даты истечения срока действия договора займа сотрудники
    Организации совершает смс-рассылку Заемщику.
</p>
<p>
    10.2. После заключения Договора займа Займодавцем обеспечен доступ к следующей
    информации о состоянии задолженности:
    <br>
    &emsp;1) размер текущей задолженности Заемщика перед Займодавцем по Договору займа
    <br>
    &emsp;2) информация о наличии просроченной задолженности по Договору займа. Информация о
    просроченной задолженности направляется Заемщику бесплатно и в срок, которые
    предусмотрены Договором займа, но не позднее семи дней с даты возникновения просроченной
    задолженности
    <br>
    &emsp;3) иные сведения, указанные в Договоре займа.
</p>
<br>
<p>
    <b>11. ОТВЕТСТВЕННОСТЬ СТОРОН</b>
</p>
<br>
<p>
    11.1.  Ответственность Заемщика за ненадлежащее исполнение Договора займа устанавливается
    Общими и Индивидуальными условиями Договора займа.
</p>
<br>
<p>
    <b>12. РАЗРЕШЕНИЕ СПОРОВ</b>
</p>
<br>
<p>
    12.1.  Все споры и разногласия, которые могут возникнуть между Займодавцем и Заемщиком,
    будут разрешаться путем переговоров. При не достижении согласия споры могут быть
    направлены на разрешение судом в соответствии с законодательством РФ.
</p>
<br>
<p>
    <b>13. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</b>
</p>
<br>
<p>
    13.1. Договор займа считается заключенным с момента предоставления Займодавцем Заемщику
    суммы займа в соответствии с п. 4.1. настоящих Правил и действует до окончательного
    исполнения Заемщиком принятых на себя обязательств по возврату суммы займа и процентов за
    пользование займом.
</p>
<p>
    13.2. Все уведомления и сообщения направляются Займодавцем и Заемщиком в письменной
    форме.
</p>
<p>
    13.3. Все изменения и дополнения в договор займа вносятся только на основании письменного
    соглашения между Займодавцем и Заемщиком.
</p>
<p>
    13.4. Во избежание конфликтных ситуаций и дополнительных расходов Заемщикам необходимо
    четко соблюдать положения настоящих Правил и условия возврата заемных средств.
</p>
<br>
<p>
    Настоящие правила утверждены генеральными директором Компании и размещены на сайте и в
    офисе Компании для ознакомления всех заинтересованных лиц.
</p>
