// Finspin logo

.finspin-logo-icon {
  background: url('assets/icons/finspin-logo-sm.svg') center no-repeat;
  width: 135px;
  height: 40px;
}

// Creditor logo

$creditor-names: (
  (payPS, 100px, 28px),
  (payPS-large, 130px, 40px),
  (smsFinance, 100px, 28px),
  (smsFinance-large, 130px, 40px),
  (kreditech, 100px, 28px),
  (kreditech-large, 130px, 40px),
  (dzp, 100px, 28px),
  (dzp-large, 130px, 40px),
  (slonFinance, 100px, 28px),
  // (slonFinance-large, 130px, 40px),
  (oneClickMoney, 100px, 28px),
  (oneClickMoney-large, 130px, 40px),
	(kviku, 100px, 28px),
	(kviku-large, 130px, 40px),
  (ecoFinance, 100px, 28px),
  (ecoFinance-large, 130px, 40px),
  (webBankir, 100px, 28px),
  (webBankir-large, 130px, 40px),
  (moneyMan, 100px, 28px),
  (moneyMan-large, 130px, 40px),
  (honeyMoney, 100px, 28px),
  (honeyMoney-large, 130px, 40px),
  (dengi-srazu, 100px, 28px),
  (ekapusta, 100px, 28px),
  (ekapusta-large, 130px, 40px)
);

@each $creditor-name, $width, $height in $creditor-names {
  .#{$creditor-name}-logo-icon {
    background: url('assets/icons/#{$creditor-name}-logo-icon.png') center no-repeat;
    width: $width;
    height: $height;
    background-size: contain;
    &.pos-left {
      background-position: left;
    }
    &.pos-right {
      background-position: right;
    }
  }
}
