$slonfinance-agreement-images: (
  ('slon-finance-common-conditions-1', 'assets/images/slonfinance-common-conditions-1.png', 201px, 18px),
  ('slon-finance-common-conditions-2', 'assets/images/slonfinance-common-conditions-2.png', 259px, 55px),
);

@each $class-name, $path, $width, $height in $slonfinance-agreement-images {
  .#{$class-name} {
    background: url($path) center no-repeat;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: $width;
    height: $height;
  }
}
