$color-4: #817aff;
$color-3: #817aff;
$color-2: #817aff;
$color-1: #817aff;

$color: $color-1, $color-2, $color-3, $color-4;

@mixin anim() {
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%,
    100% {
      opacity: 0;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  overflow: hidden;
  animation-delay: 1s;
}

@for $i from 1 through 4 {
  .item-#{$i} {
    width: 8px;
    height: 8px;
    background: #f583a1;
    border-radius: 50%;
    @include anim();
    background-color: nth($color, $i);
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: nth($color, $i);
      opacity: 0.7;
      animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
      animation-delay: 200ms * $i;
      transition: 0.5s all ease;
      transform: scale(1);
    }
  }
}
