@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/utilities/flex';
@import './vars';

$grid-gutter-width-base: 24px;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
);

$grid-breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
);

$container-max-widths: (
  xs: 960px,
);

@media (max-width: 960px) {
  .container {
    width: auto !important;
    max-width: 100% !important;
  }
}

@import '../../../node_modules/bootstrap/scss/grid';
