.notification-bar {
  height: 60px;
  background-color: #F5F5F5;
  box-shadow: 0px 5px 14px -11px inset;

  display: flex;
  justify-content: center;

  &-container {
    display: flex;

    & .loading {
      margin-right: 20px
    }
  }
}