.passport-help--point {
  width: 30px;
  min-width: 30px;
  height: 30px;
  text-align: center;
  background-color: #FFE02C;
  border-radius: 50%;
  line-height: 30px !important;
  z-index: 10;
}

.passport-help--section-title {
  padding-top: 4px;
}

.passport-help--point-block {
  margin-left: 26px !important;
}

.passport-help--points-container {
  position: relative;
}

.passport-help--line {
  height: 100%;
  border-left: 1px solid #E5E5E5;
  position: absolute;
  left: 15px;
}

.passport-help--additional {
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  padding: 30px 20px;

  .body-2 {
    line-height: 20px;
  }
}

.passport-help--additional-point {
  width: 6px;
  min-width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 4px;
}

.passport-help--photo {
  height: 170px;
  width: 170px;
}

.passport-help--photo-1 {
  @extend .passport-help--photo;
  background-image:  url('assets/images/passport-name-page.png');
}

.passport-help--photo-2 {
  @extend .passport-help--photo;
  background-image:  url('assets/images/passport-reg-data-page.png');
}

.passport-help--photo-3 {
  @extend .passport-help--photo;
  background-image:  url('assets/images/passport-with-me.png');
}
