$height: 10px;
$border-radius: 8px;

.progress-bar {
  background-color: rgba(129,122,255,0.2);
  width: 100%;
  height: $height;
  border-radius: $border-radius;
  position: relative;
}

.progress-bar--plus {
  $color: #bfbbfb;

  height: $height;
  border-radius: $border-radius;
  background-color: $color;
  z-index: 1;
  position: absolute;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, .5) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, .5) 75%, transparent 75%,
    transparent);
  background-size: 0.7rem 0.7rem;
  border: 1px solid $color;
}

.progress-bar--value {
  height: $height;
  border-radius: $border-radius;
  z-index: 2;
  background-color: #817AFF;
  position: absolute;
}
