<p>
  Регистрируясь (заполняя форму регистрации) на официальном сайте Общества с ограниченной ответственностью «Микрофинансовая
  компания «ДЗП-Центр» (ООО МФК «ДЗП-Центр»), расположенном в информационно-коммуникационной сети «Интернет» по адресу: www.dozarplati.com
  (далее - «Сайт», «Сайт Займодавца») и/или подписывая на указанном сайте заполненное заявление (заявку) о предоставлении
  потребительского микрозайма с помощью аналога собственноручной подписи (путем ввода в соответствующее поле секретного кода,
  доступ к которому имеет только Заявитель (Заемщик), указанный в СМС сообщении, направленном ООО МФК «ДЗП-Центр» на мобильный
  номер телефона, зарегистрированного на имя Заемщика, Заемщик, выступая в качестве субъекта персональных данных и субъекта
  кредитной истории предоставляет путем присоединения к настоящему Согласию на обработку персональных данных ООО МФК «ДЗП-Центр»
  (ОГРН 1147847029990, ИНН 7838500558, включенное 04.08.2014 Банком России в государственный реестр микрофинансовых организаций
  под номером 651403140005467, адрес местонахождения: 190031, г. Санкт-Петербург, Спасский пер., д. 14/35, лит. А, пом. 38-Н,
  являющееся членом СРО НП «МиР» (далее - Займодавец) согласие на обработку персональных данных, на представление информации
  третьим лицам, в том числе бюро кредитных историй, и на получение рекламной и иной информации от ООО МФК «ДЗП-Центр», а
  также совершением указанных действий, безусловно принимает (предоставляет акцепт) всех положений настоящего Согласия.
</p>

<p>
  Перечень персональных данных Заемщика, передаваемых Заимодавцу для обработки:
</p>

<ul>
  <li>фамилия, имя, отчество;</li>
  <li>дата и место рождения;</li>
  <li>паспортные данные, в том числе, сведения об адресе регистрации;</li>
  <li>место фактического проживания и основания приобретения права пользования жилым помещением;</li>
  <li>идентификационный номер налогоплательщика;</li>
  <li>страховой номер индивидуального лицевого счета;</li>
  <li>семейное положение;</li>
  <li>сведения об образовании (специальности);</li>
  <li>сведения о форме занятости и среднем размере месячных доходов и расходов;</li>
  <li>сведения о наименовании работодателя, адресе места работы, занимаемой должности, трудовом стаже на последнем месте работы;</li>
  <li>номера контактных телефонов;</li>
  <li>адреса электронной почты;</li>
  <li>индивидуальные номера и иная информация, идентифицирующая персональные страницы на сайтах социальных сетей или иных коммуникационных
    сервисов;</li>
  <li>сведения о кредитной истории;</li>
  <li>реквизиты банковского счета, используемого Заемщиком (Заявителем) для осуществления платежей;</li>
  <li>иные данные, предоставляемые Заемщиком (Заявителем) в процессе заключения и исполнения договора потребительского микрозайма
    или правомерно получаемые Заимодавцем от иных лиц.</li>
</ul>

<p>
  Настоящее Согласие действует в отношении всех персональных данных Заемщика, указанных им при регистрации на сайте Займодавца
  в сети Интернет, в Заявлении и/или договоре потребительского микрозайма, а также получаемых Займодавцем на законных основаниях,
  в целях рассмотрения Займодавцем возможности и фактического предоставления Заемщику потребительского микрозайма, заключения
  и выполнения обязательств по договору потребительского микрозайма, а также информирования Заемщика о новых продуктах и
  услугах Займодавца и его партнеров (далее – персональные данные).
</p>

<p>
  Рассмотрение Займодавцем возможности предоставления Заемщику займа происходит посредством обработки его персональных данных
  с использованием собственных оценочных критериев и методик Займодавца.
</p>

<p>
  Согласие Заемщика (Заявителя) включает в себя, в том числе, согласие с тем, что получение Заемщиком (Заявителем) у Заимодавца
  данных, относящихся к Заемщику (Заявителю), их уточнение, блокирование и уничтожение допускается в случаях, установленных
  действующим законодательством на основании письменного заявления Заемщика (Заявителя), которое должно соответствовать требованиям,
  установленным действующим законодательством РФ.
</p>

<p>
  Согласие, предоставленное Заемщиком Займодавцу, действует с момента направления (подписания) формы регистрации, на сайте
  Займодавца в сети Интернет и/или Заявления и действительно в течение 5 (пяти) лет после выполнения сторонами обязательств
  по договору потребительского микрозайма
</p>

<p>
  После прекращения обработки персональных данных Заемщик имеет право отозвать настоящее согласие. Отзыв осуществляется в письменной
  форме. После получения отзыва персональные данные подлежат уничтожению либо обезличиванию, в порядке, предусмотренном действующим
  законодательством РФ:
</p>

<ol>
  <li>Я, являющийся Заемщиком (Заявителем) в отношениях с Займодавцем в соответствии с настоящим Согласием, подтверждаю, что
    обладаю всей полнотой правоспособности для выражения данного согласия, действую осознанно, по своей воле и в собственных
    интересах.</li>
  <li>Информация, предоставляемая мной Займодавцу в связи с получением займа, заключением и выполнением обязательств по договору
    потребительского микрозайма, в том числе указанная в Форме регистрации и Заявлении на предоставление потребительского
    микрозайма, является полной, точной и достоверной во всех отношениях, признаю и подтверждаю, что самостоятельно и полностью
    несу ответственность за предоставленные мной персональные данные, включая их полноту, достоверность, недвусмысленность
    и относимость непосредственно ко мне.</li>
  <li>Я согласен на проверку Займодавцем или иными лицами по его поручению указанной информации.</li>
  <li>Я даю Займодавцу свое согласие на обработку с использованием средств автоматизации, а также без использования таких средств
    в соответствии с Федеральным законом от 27.07.2006 № 152- ФЗ «О персональных данных» всех моих персональных данных, указанных
    в Форме регистрации, Заявлении на предоставлении потребительского микрозайма на сайте Займодавца в сети Интернет и предоставленных
    мной Займодавцу в целях получения займа, заключения и исполнения обязательств по договору потребительского микрозайма,
    формирования данных об обращении за займом и кредитной истории, предложения продуктов и услуг, обслуживание лиц, подающих
    заявку на получение микрозаймов, (клиентов), а также полученных Займодавцем от третьих лиц в соответствии с настоящим
    Согласием и законодательством РФ, включая информацию, содержащуюся в моей кредитной истории, посредством использования
    средств автоматизации или без использования таких средств, включая сбор, запись, систематизацию, накопление, хранение,
    уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, уничтожение, передачу (распространение,
    предоставление, доступ), включая передачу третьим лицам, в том числе, но не ограничиваясь, юридическим лицам, действующим
    на основании агентских договоров или иных договоров, заключенных с Займодавцем, в случае невыполнения и/или ненадлежащего
    выполнения мной обязательств по договору потребительского микрозайма с целью осуществления этими лицами действий, направленных
    на взыскание просроченной задолженности по договору потребительского микрозайма (суммы основного долга, процентов за
    пользование Займом, неустойки (пени) при ее наличии, государственным органам и/или органам местного самоуправления на
    основании соответствующих запросов, а также иным третьим лицам при выполнении требований законодательства РФ и в целях
    настоящего Согласия, всех моих персональных данных.</li>
  <li>Я даю Займодавцу свое согласие в соответствии со ст. 152.1 Гражданского кодекса РФ на обработку и хранение своего изображения
    (фотографии, видеозаписи), полученных в процессе съемки в целях настоящего Согласия.</li>
  <li>Я предоставляю Займодавцу в соответствии с настоящим Согласием обработку предоставленных мной персональных данных третьих
    лиц. Я подтверждаю, что персональные данные третьих лиц предоставляются мной с согласия таких лиц с учетом цели, способов
    и сроков обработки персональных данных, определенных настоящим Согласием.</li>
  <li>Я, в соответствии со ст. 18 Федерального закона от 13.03.206 № 38-ФЗ «О рекламе», заявляю о согласии на получение по сетям
    электросвязи, а именно телефонной, факсимильной, подвижной радиотелефонной связи рекламной информации (рассылок) об услугах,
    оказываемых ООО МФК «ДЗП-Центр», оповещения о проводимых маркетинговых акциях в течение срока действия настоящего Согласия,
    для осуществления опросов с целью изучения мнения об оказываемых услугах.</li>
  <li>Я выражаю свое согласие на передачу Займодавцем моих персональных данных, а также иных данных, предусмотренных Федеральным
    законом от 30.12.2004 № 218-ФЗ «О кредитных историях», в бюро кредитных историй, а также выражаю свое согласие на получение
    Займодавцем сведений о моей кредитной истории от бюро кредитных историй в порядке и сроки, установленные Федеральным
    законом от 30.12.2004 № 218-ФЗ «О кредитных историях».</li>
  <li>Право выбора бюро кредитных историй предоставляется мной Займодавцу, по его усмотрению, и дополнительного согласования
    со мной не требует.</li>
  <li>Я признаю, что Займодавец вправе использовать информацию о невыполнении и/или ненадлежащем выполнении мной договорных обязательств
    в прошлом при рассмотрении вопроса о предоставлении мне займа. Я оповещен о том, что Займодавцем в соответствии с законодательством
    РФ вправе отказать мне в предоставлении займа.</li>
  <li>Я ознакомлен и согласен с Правилами предоставления микрозаймов ООО МФК «ДЗП-Центр», Общими условиями договора потребительского
    микрозайма ООО МФК «ДЗП-Центр», Информацией, об условиях предоставления, использования и возврата потребительского микрозайма
    ООО МФК «ДЗП-Центр».</li>
  <li>Я подтверждаю, что действую к собственной выгоде, иное лицо, к выгоде которого я действую, (выгодоприобретатель) отсутствует.</li>
  <li>
  Я подтверждаю, что лица, уполномоченные в порядке, установленном законодательством РФ, представлять мои интересы в отношениях
    с Займодавцем, (представители) отсутствуют.</li>
  <li>Я подтверждаю, что лицо, имеющее возможность контролировать мои действия, (бенефициарный владелец) отсутствует.</li>
  <li>
  Я подтверждаю, что не являюсь иностранным должностным лицом и/или должностным лицом публичной международной организации
    и/ или лицом, замещающим (занимающим) государственную должность РФ, должность членов Совета директоров Центрального банка
    РФ, должность федеральной государственной службы, назначение на которую и освобождение от которой осуществляется Президентом
    РФ или Правительством РФ, должность в Центральном банке РФ, государственной корпорации и иной организации, созданной
    РФ на основании федеральных законов, включенной в перечни должностей, определяемой Президентом РФ, а также их супругом,
    близким родственником (родственником по прямой восходящей и нисходящей линии (родителем или ребенком, дедушкой, бабушкой
    или внуком), полнородным и неполнородным (имеющим общих отца или мать) братом и сестрой, усыновителем и усыновленным).</li>
  <li>
  Я согласен с тем, что в случае невыполнения своих обязательств по договору потребительского микрозайма (наличия просроченной
    задолженности) Займодавец вправе осуществлять уступку прав (требований) по договору микрозайма третьим лицам, в целях
    обеспечения исполнения Заемщиком обязательств, установленных договором потребительского микрозайма, в том числе с целью
    взыскания задолженности, процентов, неустойки и иных средств правовой защиты.</li>
  <li>Настоящее согласие может быть отозвано посредством направления соответствующего уведомления о его отзыве Заимодавцу по
    адресу: 190031, г. Санкт-Петербург, Спасский пер., д. 14/35, лит. А, пом. 38-Н.</li>
  <li>При этом я подтверждаю, что ознакомлен и согласен, что Заимодавец праве продолжить обработку персональных данных без моего
    согласия для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому я являюсь.</li>
  <li>Настоящее согласие на обработку Персональных данных действует в течение 5 (пяти) лет с даты его подписания электронной
    подписью, а также впоследствии в течение срока, необходимого для целей соблюдения законодательства РФ и исполнения обязательств
    по договору потребительского микрозайма.</li>
</ol>
