// Background colors
$g-color-bg-default: white;
$g-color-bg-neutral: #F5F5F7; // This color use for bg hover too
$g-color-bg-success: #FFF8C6;
$g-color-bg-warning: #FFF8C6;
$g-color-bg-danger: #FEF0EF;
$g-color-bg-disabled-control: #F6F6F6;

$g-color-success: #0CCE6B;
$g-color-danger: #E13539;
$g-color-neutral: #B8B8B8;

// Text colors
$g-color-text-primary: #282828;
$g-color-text-secondary: #787878;
$g-color-text-primary-reverse: #FFFFFF;
$g-color-text-secondary-reverse: #E5E5E5;
$g-color-text-danger: #E13539;
$g-color-text-link: #282828;

// Common colors
$g-color-accent: #FBCE5D;
$g-color-accent-alt: #F49F27;
$g-color-accent-dark: #7D7FFF;

// Dots
$g-color-preapproved-accent: $g-color-accent-dark;
$g-color-preapproved-success: $g-color-success;

// Border colors
$g-color-border: #D9D9D9;
$g-color-border-active: #1D1D1D;
$g-color-border-danger: $g-color-text-danger;

// Opacity
$g-opacity-disabled-control: 0.5;

// Shadow
$g-shadow-box: 0 20px 20px rgba(49, 77, 102, 0.08);
$g-shadow-dropdown: 0 1px 20px rgba(0, 0, 0, 0.2);

// Shade percentages
$g-shade-hover: 6;
$g-shade-active: 8;

// Z-index
$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;
$zIndex-10: 1000;

$g-zIndex-dropdown: $zIndex-4;
$g-zIndex-control-error-sign: $zIndex-1;
$g-zIndex-modal: $zIndex-10;
$g-zIndex-caret: $zIndex-2;
$g-zIndex-select-closable-area: $zIndex-2;
$g-zIndex-menu-dropdown: $zIndex-5;

// Animation
$g-transition-control-time: 0.07s;

// Controls
$g-control-top: shade($g-color-bg-default, 1);
$g-control-bottom: shade($g-color-bg-default, 10);

$g-control-accent-top: #FAA800;
$g-control-accent-bottom: #FFDA00;
$g-control-accent-border: #E8B203;

$g-control-label-color: #8B8B8B;
$g-control-label-font-size: 15px;
$g-control-value-color: $g-color-text-primary;
$g-control-value-font-size: 17px;
$g-control-value-line-height: 24px;
$g-item-bg-hover: $g-color-bg-neutral;
