@import '../../../helpers';
@import 'vars';

$btn-top: brighten($g-control-accent-top, 37);
$btn-bottom: brighten($g-control-accent-top, 43);

.btn {
  cursor: pointer;
  border-radius: 60px;
  height: 60px;
  padding: 0 45px;
  border: none;
  outline: none;
  color: $g-color-text-primary;

  &:disabled {
    background: transparent;
    color: rgba(0, 0, 0, 0.2);
    border: solid 2px rgba(0, 0, 0, 0.1);
    cursor: default;
    box-shadow: none;
    pointer-events: none;
  }

  &.is-primary {
    background: linear-gradient(to bottom, #f7c25a, #fdd069);
    box-shadow: 0 3px 0 0 #ebb369, 0 4px 0 0 #d59b54, 0 6px 6px 0 #bb9f83;

    &:hover:not(:active) {
      background: #fbd580;
    }

    &:active {
      background: linear-gradient(to bottom, #F7C25A 50%, #FDD069 100%);
    }

    &:disabled {
      border: 2px solid #E6E6E6;
      background: transparent;
    }
  }

  &.is-secondary {
    background: linear-gradient(to bottom, #f6f6f6, #fcfcfc);
    box-shadow: 0 3px 0 0 #dedede, 0 4px 0 0 #b3b3b5, 0 6px 6px 0 #d1d1d1;

    &:hover:not(:active) {
      color: $g-color-accent-alt;
    }
  }

  &:disabled {
    border: 2px solid brighten($g-color-border, 10);
    box-shadow: none;
    background: transparent;
  }

  &.is-sm {
    font-size: 16px;
    min-height: 40px;
    padding: 10px 20px;

    .btn--pending-text {
      margin-left: 5px;
    }
  }

  &.is-md {
    font-size: 20px;
    min-height: 60px;
    padding: 10px 30px;

    .btn--pending-text {
      margin-left: 10px;
      padding-top: 5px;
    }
  }

  &.is-max-width {
    width: 100%;
  }

  &.is-pending {
    padding-top: 0;
    padding-bottom: 0;
    cursor: default;
    pointer-events: none;
  }
}

.btn--pending-text {
  display: inline-block;
  vertical-align: top;
}

.btn--pending-icon {
  vertical-align: text-bottom;
}
