// TODO: need to find out why there is using the default theme vars
@import '../../default/base_components/vars';

.checkbox--label-container {
  display: inline-block;
}

.checkbox--label {
  color: $g-color-text-primary;
  cursor: pointer;
  font-size: 16px;
}

.checkbox--control {
  border: 2px solid $g-color-border;
  background: linear-gradient(to bottom, $g-control-top 50%, $g-control-bottom 100%);
  border-radius: 3px;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  width: 30px;
  transition: border-color 150ms ease;
}

.checkbox {
  &:hover .checkbox--control {
    border-color: shade($g-color-border, 20);
  }

  &.is-checked {
    .checkbox--control {
      background: linear-gradient(to bottom, $g-control-accent-top 50%, $g-control-accent-bottom 100%);
      border-color: $g-control-accent-border;

    }

    &:hover .checkbox--control {
      border-color: shade($g-control-accent-border, 20);
    }

    .checkbox--check {
      visibility: visible;
      transform: scale(1);
    }
  }

  &.is-disabled {
    opacity: $g-opacity-disabled-control;
    pointer-events: none;
  }
}

.checkbox--input {
  display: none;
}

.checkbox--check {
  background: url('themes/default/icons/check-icon.svg') center no-repeat;
  display: inline-block;
  height: 14px;
  margin-left: 3px;
  margin-top: 6px;
  transition: $g-transition-control-time linear;
  width: 20px;
  visibility: hidden;
  transform: scale(0.8);
}
