@import 'vars';

$border-radius: 4px;

.dropdown {
  border-radius: 0 0 $border-radius $border-radius;
  position: relative;
  z-index: $g-zIndex-dropdown;
  background-color: white;
  max-height: 300px;
  overflow-y: auto;
  border-bottom: 1px solid $g-color-border;
}

.dropdown--item {
  font-size: $g-control-value-font-size;
  line-height: 24px;
  color: $g-color-text-primary;
  border: 1px solid $g-color-border;
  border-bottom: none;
  padding: 17px 9px;
  cursor: pointer;
  min-height: 60px;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &.is-active {
    border: 2px solid $g-color-accent;
    padding: 16px 8px 16px 8px;

    &:first-child {
      border-top: none;
      padding: 17px 8px 16px 8px;
    }

    & + .dropdown--item {
      border-top-color: transparent;
    }
  }
}

.dropdown--empty-caption {
  color: $g-color-text-secondary;
  font-size: $g-control-value-font-size;
  padding: 17px 9px;
}
