@import '../../../helpers';
@import 'vars';

.link {
  text-decoration: none;
  color: $g-color-text-link !important;
  cursor: pointer;
  border-bottom: 1px solid brighten($g-color-text-link, 60);

  &:hover {
    text-decoration: none;
    color: $g-color-accent-alt !important;
    border-bottom: 1px solid brighten($g-color-accent-alt, 60);
  }

  &:active {
    text-decoration: none;
    color: shade($g-color-accent-alt, $g-shade-active) !important;
    border-bottom: 1px solid brighten($g-color-accent-alt, 60);
  }

  &.is-disabled {
    cursor: default;
    pointer-events: none;
    opacity: $g-opacity-disabled-control;
  }
}
