.navbar {
  background-color: white;
  height: 67px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.2);

  &.is-transparent {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
  }
}
