@import 'vars';

.panel {
  padding: 40px;
  border-radius: 5px;

  &.is-success {
    background-color: $g-color-success;
  }

  &.is-danger {
    background-color: $g-color-danger;
  }

  &.is-neutral {
    background-color: $g-color-neutral;
  }
}
