@import 'vars';

.select {
  position: relative;
}

.select--caret-icon {
  pointer-events: none;
  position: absolute;
  top: 55px;
  right: 14px;
  z-index: $g-zIndex-caret;
}

.select--closable-area {
  top: 0;
  position: absolute;
  height: 60px;
  width: 100%;
  z-index: $g-zIndex-select-closable-area;
  cursor: pointer;
}
