@import 'vars';

.text-field {
  position: relative;
  margin-bottom: 17px;

  &.is-focused,
  &.is-error {
    .text-field--input {
      border: solid 2px;
      padding: 8px 39px 9px 14px;
    }

    .text-field--textarea {
      border: solid 2px;
      padding: 8px 40px 11px 14px;
    }
  }

  &.is-filled .text-field--hint {
    display: none;
    &.is-always {
      display: block;
    }
  }

  &.is-focused .text-field--input,
  &.is-focused .text-field--textarea {
    border-color: $g-color-accent;
    box-shadow: none;
  }

  &.is-error .text-field--hint {
    display: none;
  }

  &.is-error .text-field--input,
  &.is-error .text-field--textarea {
    border-color: $g-color-border-danger;
  }

  &.is-disabled {
    opacity: $g-opacity-disabled-control;
    pointer-events: none;

    .text-field--input,
    .text-field--textarea {
      background-color: $g-color-bg-disabled-control;
      cursor: default;
    }
  }

  &.is-no-error-sign {
    .text-field--control:after {
      display: none;
    }
  }
}

.text-field--hint {
  margin-top: 4px;
  color: $g-color-neutral;
  font-size: 14px;
  line-height: 16px;
}

.text-field--control {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: text;
}

.text-field--input,
.text-field--textarea {
  order: 2;
  font-size: $g-control-value-font-size;
  color: $g-control-value-color;
  line-height: $g-control-value-line-height;
  padding: 9px 40px 10px 15px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid $g-color-border;
  box-shadow: inset 0 2px 0 0 brighten($g-color-border, 50);
  background-color: white;
  outline: none;
  resize: none;
  width: 100%;
}

.text-field--input {
  height: 44px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-field--textarea {
  min-height: 44px;
  vertical-align: middle;
}

.text-field--label {
  order: 1;
  font-size: $g-control-label-font-size;
  color: $g-control-label-color;
  margin-bottom: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.text-field--optional-caption {
  display: inline-block;
  font-size: 14px;
  margin-left: 6px;
}

.text-field--error-message {
  background: $g-color-danger;
  margin-top: 17px;
  padding: 15px;
  border-radius: 4px;
  color: white;
  position: relative;
  font-size: 15px;

  &:after {
    position: absolute;
    width: 14px;
    height: 14px;
    background: $g-color-danger;
    content: '';
    top: -7px;
    left: 50%;
    transform: rotate(45deg);
  }
}

.text-field--dropdown-container {
  position: relative;
}

.text-field--dropdown {
  position: absolute;
  width: 100%;
  top: 0;
}

// Input control before a dropdown should have straight bottom edge.
.text-field.is-focused .text-field--control:not(:last-child) {
  .text-field--input,
  .text-field--textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
