редакция №03 от 24.10.2016</br>
утверждено 21.10.2016</br>
приказом Генерального директора № КД-43</br>
© ООО МФО «Займ Онлайн», 2016</br>

<p>
  Текст настоящего пользовательского соглашения, постоянно размещенный в сети Интернет по сетевому
адресу <a class="link" target="_blank" href="http://www.payps.ru/Document/Conditions-of-use">http://www.payps.ru/Document/Conditions-of-use</a>, содержит все существенные условия соглашения и
является предложением общества с ограниченной ответственностью «Займ Онлайн» заключить
пользовательское соглашение с третьим лицом, использующим сайт в сети Интернет <a class="link" target="_blank" href="http://payps.ru">www.payps.ru</a> на
указанных в тексте соглашения условиях. Таким образом, текст пользовательского соглашения является
публичной офертой в соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации.
</p>
<p>
  Надлежащим акцептом настоящей оферты в соответствии со статьей 438 Гражданского кодекса Российской
Федерации считается последовательное осуществление третьим лицом следующих действий:
</p>
<ol>
  <li>Ознакомление с условиями пользовательского соглашения;</li>
  <li>Внесение в регистрационную форму, расположенную во вкладке «Личный кабинет» в сети Интернет по
сетевому адресу <a class="link" target="_blank" href="http://www.payps.ru/">http://www.payps.ru/</a> номера телефона, принадлежащего соответствующему третьему лицу, и
адреса личной электронной почты, доступ к которой имеет исключительно соответствующее третье лицо;</li>
  <li>Создание пароля, необходимого для доступа к личному кабинету и состоящего не менее чем из 6 (шести)
символов;</li>
  <li>
    Ввод кода акцепта (уникальный код, автоматически созданный системой), направленного в виде sms-
сообщения на номер телефона, указанный при регистрации, в специальную форму на соответствующей
странице сайта.
  </li>
  <li>Нажатие кнопки «Зарегистрироваться» на соответствующей странице регистрации.</li>
</ol>
<p>
  С момента нажатия кнопки «Зарегистрироваться» при условии корректного совершения указанных выше
действий, регистрация на сайте <a class="link" target="_blank" href="http://payps.ru">www.payps.ru</a> считается завершенной, а условия настоящего
пользовательского соглашения – обязательными для зарегистрированного лица.
</p>
