<p>
Согласие на обработку персональных данных
</p>
<p>
г. Ростов-на-Дону «5» февраля 2018 года
</p>

<p>
Я, паспорт: серия номер кем выдан дата выдачи (не задано)г., адрес регистрации по месту жительства: адрес фактического места жительства: настоящим даю своё согласие (далее – Согласие) Обществу с ограниченной ответственностью «МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ» (юридический адрес: 344034, Ростовская область, г. Ростов-на-Дону, ул. Портовая, дом 193, офис 309), именуемому далее – Общество, на обработку, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение моих персональных данных, указанных в Заявке-анкете на предоставление микрозайма либо предоставленных мною в Общество иным способом.
</p>

<p>
Настоящим даю своё согласие на обработку моих персональных данных как с использованием средств автоматизации, так и без использования средств автоматизации. Основные способы обработки моих персональных данных (но не ограничиваясь ими): хранение, запись на электронные носители и их хранение, использование, составление перечней.
</p>

<p>
Настоящее Согласие дается мною в целях заключения со мною договоров и соглашений, исполнения таких договоров и соглашений, принятия решений или совершения иных действий, порождающих юридические последствия (включая решения о предоставлении или отказе в предоставлении мне микрозайма), предоставления мне информации об оказываемых Обществом услугах и оказания таких услуг.
</p>

<p>
Настоящее Согласие действует в течение: сроков хранения документов, в том числе платежных документов, предусмотренных действующим законодательством Российской Федерации плюс 5 (Пять) лет.
</p>

<p>
Настоящее Согласие может быть отозвано мной путем подачи Обществу соответствующего письменного заявления, поданного мною лично, для чего я должен (должна) явиться в Общество с документом, удостоверяющим личность, и подать сотруднику Общества соответствующее заявление либо направить отзыв заказным почтовым уведомление по юридическому адресу Общества.
</p>

<p>
Между мной и Обществом достигнуто соглашение о том, что в случае отзыва мною настоящего Согласия, Общество вправе продолжить обработку моих персональных данных при наличии на то оснований, предусмотренных действующим законодательством.
</p>

<p>
Настоящим я соглашаюсь, что в случае необходимости предоставления моих персональных данных для достижения указанных выше целей третьему лицу, передачи Обществом принадлежащих ему функций и полномочий иному лицу (в том числе, для совершения действий, направленных на возврат просроченной задолженности), а равно при привлечении третьих лиц к оказанию услуг в указанных целях, Общество вправе в необходимом объеме раскрывать (передавать) для совершения вышеуказанных действий информацию обо мне лично (включая мои персональные данные) таким третьим лицам, в том числе, информацию о моей просроченной задолженности и её взыскании, а также предоставлять таким третьим лицам соответствующие документы, содержащие такую информацию:
</p>

<p>
	- ДА			- НЕТ
</p>

<p>
Настоящим я также соглашаюсь с тем, что в случае возникновения у меня просроченной задолженности перед Обществом, Общество (либо агент, действующий от имени Общества и/или в его интересах) вправе осуществлять взаимодействие, направленное на возврат моей просроченной задолженности, с любыми третьими лицами, в том числе с членами моей семьи, моими родственниками, моими соседями.
</p>

<p>
	- ДА			- НЕТ
</p>