<p>
Предложение (оферта) о заключении
Соглашения №00
о вопросах взаимодействия при возникновении просроченной задолженности клиента
</p>

<p>
г. Ростов-на-Дону (не задано) года
</p>

<p>
Настоящим Общество с ограниченной ответственностью «МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ», именуемое в дальнейшем «Займодавец», в лице Директора Москальчук Ирины Юрьевны, действующего на основании Устава, с одной стороны, и гражданин РФ , именуемый(ая) в дальнейшем «Заемщик», с другой стороны, совместно именуемые «Стороны», заключили настоящее соглашение (далее – Соглашение) к договору микрозайма "Мобильный" № от (не задано) года года (далее – Договор) о нижеследующем.
</p>

<p>
1. Стороны договорились, что в случае возникновения у Заёмщика просроченной задолженности по Договору взаимодействие с Заёмщиком, направленное на возврат просроченной задолженности, по инициативе Займодавца или лица (агента), действующего от имени и/или в интересах Займодавца, допускается с учётом нижеследующих положения настоящего Соглашения.
</p>

<p>
2. По инициативе Займодавца или лица (агента), действующего от имени и/или в интересах Займодавца, допускается непосредственное взаимодействие с Заёмщиком:
</p>

<p>
2.1. посредством личных встреч не более 2 (Двух) раз в неделю;
</p>

<p>
2.2. посредством телефонных переговоров:
</p>

<p>
а) не более 2 (Двух) раз в сутки;
</p>

<p>
б) не более 4 (Четырех) раз в неделю;
</p>

<p>
в) не более 16 (Шестнадцати) раз в месяц.
</p>

<p>
3. По инициативе Займодавца или лица (агента), действующего от имени и/или в интересах Займодавца, допускается взаимодействие с Заёмщиком посредством коротких текстовых сообщений (SMS-сообщений) общим числом:
</p>

<p>
а) не более 8 (Восьми) раз в сутки;
</p>

<p>
б) не более 24 (Двадцати четырех) раз в неделю;
</p>

<p>
в) не более 96 (Девяносто шести) раз в месяц.
</p>

<p>
4. В случае привлечения Займодавцем иного лица (агента) для осуществления с Заёмщиком взаимодействия, направленного на возврат просроченной задолженности, Займодавец в течение 30 (Тридцати) рабочих дней с даты указанного привлечения иного лица (агента) уведомляет об этом Заёмщика. Займодавец уведомляет Заёмщика об указанном привлечении иного лица (агента) путем направления Заёмщику соответствующего уведомления посредством электронной почты (e-mail -сообщения) на контактный адрес электронной почты, указанный Заёмщиком в Заявке-анкете при оформлении Договора. В случае если Заемщиком не был указан адрес электронной почты, вышеуказанное уведомление направляется на мобильный телефон посредством коротких текстовых сообщений (SMS-сообщений).
</p>

<p>
5. Стороны договорились, что в случае возникновения у Заёмщика просроченной задолженности по Договору понятия «телефонные переговоры» и «личная встреча» будут применяться Займодавцем, лицом (агентом), действующим от имени и/или в интересах Займодавца, в рамках взаимодействия с Заёмщиком, направленного на возврат просроченной задолженности по Договору, а также самим Заёмщиком согласно нижеследующих определений:
</p>

<p>
- «телефонные переговоры» - телефонная беседа, соответствующая действующему законодательству, между представителем Займодавца/представителем лица (агента), действующего от имени и/или в интересах Займодавца, и Заёмщиком (представителем Заёмщика) по вопросу погашения задолженности Заёмщика по Договору, которая считается состоявшейся только в случае если Заёмщиком (представителем Заёмщика) будет сообщена точная (конкретная) дата исполнения в полном объеме обязательств по Договору. В том случае если в телефонной беседе указанных лиц Заёмщиком (представителем Заёмщика) не будет сообщена точная (конкретная) дата исполнения в полном объеме обязательств по Договору такие телефонные переговоры считаются несостоявшимися и не учитываются Сторонами в рамках частоты взаимодействия, предусмотренной п. 2.2. настоящего Соглашения.
</p>

<p>
- «личная встреча» - совместная беседа, соответствующая действующему законодательству, в рамках взаимного беспрепятственного визуального контакта (на расстоянии, не превышающем 2 (Двух) метров между участниками беседы) между представителем Займодавца/представителем лица (агента), действующего от имени и/или в интересах Займодавца, и Заёмщиком (представителем Заёмщика) по вопросу погашения задолженности Заёмщика по Договору, которая считается состоявшейся только в случае если Заёмщиком (представителем Заёмщика) будет сообщена точная (конкретная) дата исполнения в полном объеме обязательств по Договору. В том случае если в совместной беседе указанных лиц Заёмщиком (представителем Заёмщика) не будет сообщена точная (конкретная) дата исполнения в полном объеме обязательств по Договору (либо не будут соблюдены иные параметры, отраженные в настоящем абзаце) такая личная встреча считается несостоявшейся и не учитывается Сторонами в рамках частоты взаимодействия, предусмотренной п. 2.1. настоящего Соглашения.
</p>

<p>
6. Во всем остальном, что не оговорено условиями настоящего Соглашения, Стороны руководствуются действующим законодательством РФ.
</p>

<p>
7. Настоящее Соглашение считается заключенным с даты подписания Сторонами и действует до полного исполнения Сторонами своих обязательств по Договору.
</p>

<p>
8. Настоящее Соглашение составлено в двух экземплярах, имеющих одинаковую юридическую силу, по одному экземпляру для каждой из Сторон.
</p>