<p>
  Настоящим, Клиент дает свое согласие Обществу с ограниченной ответственностью «Финспин» ОГРН 1146670012444, юридический адрес: 620075, г. Екатеринбург, ул. Мамина-Сибиряка, д. 101, офис 4.06 (далее – «Общество» или «Оператор») на обработку, хранение и передачу через Интернет своих персональных данных с использованием средств криптографической защиты и подтверждает, что, дает такое согласие, действуя по своей воле и в своих интересах.
</p>
<p>
  Согласие дается Клиентом для следующих целей: целью однозначной идентификации Клиента как пользователя услуг и продуктов Компании, требующих идентификации , пользования услугами и продуктами, доступными в личном кабинете, включая обработку заявки на получение микрозайма / кредита от Партнеров Оператора, формирования и анализа оценки кредитоспособности Клиента, как в формате суждения, так и в оцифрованном виде (скоринговый бал), в том числе и в агрегированном виде (оценка, основанная на нескольких информационных и аналитических источниках), для своевременного информирования Клиента об оказываемых Оператором услугах, а также включения Клиента в базу потенциальных клиентов Партнеров, в том числе для предложения Клиенту услуг Партнеров по телефону, в почтовых отправлениях, в sms-сообщениях или в тексте электронных писем/сообщений (push-уведомления), получения услуг от Партнеров, связанных с оперативным получением доступа к кредитным, банковским, страховым и иным продуктам Партнеров, включая получение кредитов, займов/микрозаймов, кредитных карт, открытие счетов, привлечение квалифицированной консультационной помощи.
</p>
<p>
  Для целей настоящего Согласия, под персональными данными понимается любая информация, прямо или косвенно относящаяся к Клиенту, как к субъекту персональных данных, переданных Клиентов лично на сайте <a href="https://finspin.ru">finspin.ru</a> в сети Интернет, в том числе с использованием интернет-сервисов vk.com, facebook.com, ok.ru, в соответствии со следующим перечнем: фамилия, имя, отчество, гражданство, пол, год, месяц, дата и место рождения, адрес места жительства, почтовый адрес, номер и серия документа, удостоверяющего личность, страховой номер индивидуального лицевого счёта, домашний, рабочий, мобильный телефоны, адрес электронной почты, образование, семейное положение, количество детей, а также данные об источниках доходов и имуществе Клиента, скоринге, стаж работы, уровень зарплаты, данные о пользовательском устройстве (среди которых разрешение, версия и другие атрибуты, характеризуемые пользовательское устройство), данные, характеризующие аудиторные сегменты, параметры сессии, данные о времени посещения Сайта, идентификатор пользователя, хранимый в cookie-файлах, Cookie-файлы, IP-адрес, данные о доверенном лице, а также иная информация, которая необходима в указанных целях.
</p>
<p>
  Настоящее Согласие Клиента предоставляется на осуществление любых законных действий в отношении персональных данных Клиента, которые необходимы или желаемы для достижения указанных выше целей, включая, без ограничения: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передача третьим лицам), обезличивание, блокирование, уничтожение персональных данных, обработку персональных данных для целей статистического учета и научного анализа, а также осуществление любых иных действий с персональными данными Клиента в рамках действующего законодательства Российской Федерации.
</p>
<p>
  Обработка персональных данных осуществляется с применением следующих основных способов (но, не ограничиваясь ими): получение, хранение, комбинирование, передача, а также обработка с помощью различных средств связи (сеть Интернет) или любая другая обработка персональных данных Клиента в соответствии с указанными выше целями и действующим законодательством Российской Федерации. Настоящим Клиент выражает согласие и разрешает (в том числе третьим лицам) объединять персональные данные в информационную систему персональных данных и обрабатывать персональные данные с помощью средств автоматизации либо без использования средств автоматизации, а также с помощью иных программных средств, а также обрабатывать его персональные данные для продвижения товаров, работ, услуг на рынке, для информирования о проводимых акциях и предоставляемых скидках.
</p>
<p>
  Настоящим Клиент признает и подтверждает, что в случае необходимости предоставления персональных данных для достижения указанных выше целей третьим лицам, а равно как при привлечении третьих лиц к оказанию услуг в указанных выше целях, Общество вправе в необходимом объеме раскрывать для совершения вышеуказанных действий информацию о Клиенте лично (включая персональные данные Клиента) таким третьим лицам, их работникам и иным уполномоченным ими лицам, а также предоставлять таким лицам соответствующие документы, содержащие такую информацию.
</p>
<p>
  Настоящим Клиент выражает согласие и разрешает Обществу как получать от третьих лиц, так и передавать третьим лицам его персональные данные:
</p>
<p>
  1) третьим лицам с целью принятия решения по заявке Клиента о предоставлении микрозайма / кредита Клиенту, любые такие третьи лица имеют право на обработку персональных данных способами, указанными в настоящем Согласии.
</p>
<p>
  2) третьим лицам с целью получения оценки кредитоспособности Клиента, включая оценку его платежеспособность и вероятности просрочки Клиентом возврата микрозайма / кредита.
</p>
<p>
  3) иным третьим лицам в соответствии с заявленными целями обработки персональных данных Клиента.
</p>
<p>
  Дополнительно настоящим Клиент дает согласие Оператору на получение от Партнера любой информации о финансовых операциях Клиента, например: одобрение выдачи кредита/микрозайма, размер одобренного кредита/микрозайма, исполнение обязательств Клиента по погашению кредита/микрозайма.
</p>
<p>
  При этом Общество гарантирует обеспечение безопасности переданных персональных данных. Клиент предупрежден, что Оператор вправе передавать его персональные данные для указанных выше целей третьим лицам только при условии соблюдения ими требований законодательства Российской Федерации об обеспечении ими конфиденциальности персональных данных и безопасности персональных данных при их обработке.
</p>
<p>
  Настоящее Согласие на обработку персональных данных является бессрочным, действует с момента его получения Оператором посредствам регистрации Клиента на сайте <a href="https://finspin.ru">www.finspin.ru</a>, в мобильном приложении «Finspin», в момент подписания согласий Аналогом собственноручной подписи, и может быть отозвано посредством направления письменного заявления в адрес Оператора по адресам, support@finspin.ru либо направив письменное уведомление по адресу ООО «ФИНСПИН», г. Екатеринбург, ул. Мамина-Сибиряка, д. 101, оф. 4.06.
</p>
<p>
  Настоящим Клиент признает и подтверждает, что Клиент самостоятельно и полностью несет ответственность за предоставленные им – Клиентом персональных данных, включая их полноту, достоверность, недвусмысленность и относимость непосредственно к Клиенту.
</p>
<p>
  Настоящим Клиент признает и подтверждает, что обладает всей полнотой правоспособности для выражения данного согласия и выражает свое согласие исключительно в отношении только его – Клиента персональных данных.
</p>
<p>Настоящим Клиент признает и подтверждает, что с правами и обязанностями в соответствии с Федеральным законом «О персональных данных», в т.ч. порядком отзыва согласия на обработку персональных данных ознакомлен.
</p>
<p>
  Условия конфиденциальности
</p>
<p>
  Через Оператора Клиент может запрашивать информацию только о самом себе.
</p>
<p>
  Клиенту необходимо держать в тайне пароль  от личного кабинета на сайте Оператора по адресу: <a href="https://finspin.ru">finspin.ru</a>, а также обеспечить безопасность доступа к электронной почте, на которую будет зарегистрирован его личный кабинет. Если по каким-то причинам Клиент не будете уверен в сохранности своего пароля, Клиент обязан  незамедлительно обратиться к администратору сайта Оператора с целью его смены. В обратном случае ответственность за утечку персональной информации Клиента будет лежать исключительно на Клиенте. Со своей стороны, администратор сайта Оператора  гарантирует безопасность Клиентских данных.
</p>
<p>
  Если Клиент запрашиваете ту или иную услугу через личный кабинет на сайте Оператора, значит, Клиент согласен оплатить ее точно так же, как если бы обратились за ней в офис администратор сайта Оператора.
</p>
<p>
  Если Клиент запрашиваете ту или иную услугу через личный кабинет на сайте Оператора, значит, Клиент доверяете Оператору запрашивать у Партнеров любую информацию о Клиенте, включая персональную.
</p>
<p>
  Идентификация Клиента
</p>
<p>
  Идентификация Клиента представляет собой процедуру однозначного установления личности Клиента по предоставляемым им персональным данным и проводится по добровольному заявлению Клиента для получения услуг, предоставляемым по персональным данным.
</p>
<p>
  В случае изменения паспортных данных после регистрации на сайте <a href="https://finspin.ru">finspin.ru</a>, Клиенту требуется направить заявление на e-mail support@finspin.ru.
</p>
<p>Электронная подпись:</p>
<p>
  Подписано простой электронной подписью с использованием номера мобильного телефона <!--OPTIONAL-->{{phone}}. {{date}} / {{time}} (время Московское)<!--/OPTIONAL-->
</p>
