<p>
    Настоящее Соглашение определяет условия использования аналогов собственноручной подписи в ходе обмена документами между Обществом с ограниченной ответственностью "Финспин", ОГРН 1146670012444 (далее по тексту – Общество), пользователем сайта <a class="link" target="_blank" href="http://www.finspin.ru">www.finspin.ru</a> и/или Мобильного приложения Общества (далее – Клиент), присоединившегося к условиям настоящего Соглашения, и партнерами Общества, совместно именуемыми Партнеры, а по отдельности Партнер, перечисленными ниже:
</p>
<p>
    1. Обществом с ограниченной ответственностью Микрофинансовой компанией «СМСФИНАНС», ОГРН: 1117746198998, регистрационный номер записи в государственном реестре микрофинансовых организаций 2120177002022;
</p>
<p>
    2. Обществом с ограниченной ответственностью Микрокредитной компанией "Саян" ОГРН 1106671025196, регистрационный номер записи в государственном реестре микрофинансовых организаций 2120177001838;
</p>
<p>
    3. Обществом с ограниченной ответственностью Микрофинансовой компанией "Займ онлайн" ОГРН 1127746428171, регистрационный номер записи в государственном реестре микрофинансовых организаций 2120177001838;
</p>
<p>
    4. Обществом с ограниченной ответственностью Микрофинансовой компанией "ДЗП-Центр" ОГРН 1147847029990, регистрационный номер записи в государственном реестре микрофинансовых организаций 651403140005467;
</p>
<p>
    5. Обществом с ограниченной ответственностью Микрокредитной компанией "АН БизнесИнвест" ОГРН 1106630000586, регистрационный номер записи в государственном реестре микрофинансовых организаций 2110666000239;
</p>
<p>
    6. Общество с ограниченной ответственностью «МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ», ОГРН 1156196059997, Регистрационный номер записи в государственном реестре микрофинансовых организаций  001503760007126;
</p>
<p>
    7. Обществом с ограниченной ответственностью Микрофинансовой компанией «Кредитех Рус», ОГРН: 1135543003793, регистрационный номер записи в государственном реестре микрофинансовых организаций 651303552003006;
</p>
<p>
    8. Акционерное общество «ОТП Банк» ОГРН 1027739176563, Генеральная лицензия Банка России №2766;
</p>
<p>
    9. Обществом с ограниченной ответственностью Микрофинансовой компанией "ЭйрЛоанс" ОГРН 1106671025196, регистрационный номер записи в государственном реестре микрофинансовых организаций 651303045003744;
</p>
<p>
    10. Обществом с ограниченной ответственностью Микрофинансовой компанией "Быстроденьги" ОГРН 1087325005899, регистрационный номер записи в государственном реестре микрофинансовых организаций 2110573000002;
</p>
<p>
    11. Обществом с ограниченной ответственностью Микрофинансовой компанией "Экофинанс" ОГРН 1157746230730, регистрационный номер записи в государственном реестре микрофинансовых организаций 651503045006452.
</p>
<p>
    12. Обществом с ограниченной ответственностью Микрофинансовой компанией "ВЭББАНКИР" ОГРН 1127746630846, регистрационный номер записи в государственном реестре микрофинансовых организаций 2120177002077;
</p>
<p>
    13. Обществом с ограниченной ответственностью Микрофинансовой компанией «Мани Мен» ОГРН 1117746442670, регистрационный номер записи в государственном реестре микрофинансовых организаций 2110177000478;
</p>
<p>
    14. Обществом с ограниченной ответственностью Микрофинансовой компанией «ПОЛУШКА» ОГРН 5177746152150, регистрационный номер записи в государственном реестре микрофинансовых организаций 1703045008623;
</p>
<p>
    15. Обществом с ограниченной ответственностью Микрофинансовой компанией «Турбозайм» ОГРН 1137746702367, регистрационный номер записи в государственном реестре микрофинансовых организаций 651303045003951;
</p>
<p>
    16. Обществом с ограниченной ответственностью Микрофинансовой компанией «МигКредит» ОГРН 2110177000037, регистрационный номер записи в государственном реестре микрофинансовых организаций 2110177000037;
</p>
<p>
    17. Обществом с ограниченной ответственностью Микрокредитной компанией «Русинтерфинанс» ОГРН 1125476023298, регистрационный номер записи в государственном реестре микрофинансовых организаций 2120754001243;
</p>
<p>
    Присоединившись к условиям настоящего Соглашения об использовании АСП на сайте <a class="link" target="_blank" href="http://www.finspsin.ru">www.finspin.ru</a> и/или с помощью Мобильного приложения, осуществляя дальнейшее использование этого сайта, Мобильного приложения, Клиент безоговорочно присоединяется к условиям настоящего Соглашения.
</p>
<p>
    Общество, Клиент и Партнеры являются Сторонами по настоящему Соглашению.
</p>
<p>
    1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
</p>
<p>
    1.1. Клиент — физическое лицо, выполнившее действия по Акцепту настоящего Соглашения.
</p>
<p>
    1.2. Заявка – заявка на получение потребительского займа, которая состоит из Анкеты и данных о займе, который желает получить Клиент. В Заявке должна содержаться сумма денежных средств, которую желает получить Клиент, и срок, на который он желает получить эту сумму.
</p>
<p>
    1.3. Анкета – электронный документ, содержащий данные о Клиенте, предоставленные Клиентом в ходе регистрации, форма которой размещена на Сайте/Мобильном приложении Общества.
</p>
<p>
    1.4. АСП (Электронная подпись) – информация в электронной форме, которая присоединена к другой информации в электронной форме (подписываемой информации) или иным образом связана с такой информацией и которая используется для определения лица, подписывающего информацию, обладателями которой, согласно настоящему договору являются Общество, Клиент и Партнер.
</p>
<p>
    1.5. АСП Клиента – аналог собственноручной подписи Клиента в виде пароля (числового/буквенного) – проверочный код, присвоенный Клиенту Обществом, полученный им на номер мобильного телефона, принадлежащего Клиенту, и необходимый для прохождения регистрации и дальнейшей подачи заявки на получение займа у Партнера.
</p>
<p>
    1.6. Мобильное приложение — программное обеспечение для мобильных устройств, разработанное для использования сервиса Общества, установленное и запущенное на телефоне, коммуникаторе, смартфоне и т.д.
</p>
<p>
    1.7. «Сайт» — веб-сайт в информационно-телекоммуникационной сети Интернет с адресом <a class="link" target="_blank" href="http://www.finspin.ru">www.finspin.ru</a> где размещена информация о деятельности Общества. Графический интерфейс Сайта предназначен для подачи заявок на получение потребительских займов от Партнеров.
</p>
<p>
    1.8. Зарегистрированный номер – номер мобильного телефона Клиента, указанный и подтвержденный Клиентом в процессе Регистрации на Сайте, либо в ходе последующего изменения данных Анкеты, в соответствии с установленной процедурой.
</p>
<p>
    2. ПРЕДМЕТ СОГЛАШЕНИЯ
</p>
<p>
    2.1. Настоящее Соглашение определяет порядок и условия применения АСП Клиента в процессе использования Сайта, Мобильного приложения для обмена электронными документами между Сторонами, в целях прохождения регистрации и в дальнейшем подачи заявки на получение микрозайма от Партнеров, а также определяет права и обязанности Сторон, возникающие в связи с формированием, отправкой и получением электронных документов с использованием Сайта/Мобильного приложения.
</p>
<p>
    2.2. На основании настоящего Соглашения не может происходить использование АСП в ходе обмена документами между Партнерами, использование АСП в ходе обмена документами по настоящему Соглашению происходит только между Клиентом и Обществом и/или между Клиентом и Партнером с посредничеством (участием) Общества.
</p>
<p>
    2.3. В целях обеспечения возможности электронного взаимодействия Клиента с Обществом и его Партнерами, Общество предоставляет Клиенту ключи электронной подписи, ведет и обновляет реестр выданных ключей, а также совершает иные действия, предусмотренные настоящим Соглашением.
</p>
<p>
    3. ИСПОЛЬЗОВАНИЕ АСП
</p>
<p>
    3.1. В соответствии с ч. 2 ст. 160 Гражданского Кодекса РФ и ч. 2 ст. 6 Закона «Об электронной подписи», Стороны договорились о том, что все документы, соответствующие требованиям п. 3.2. настоящего Соглашения, считаются подписанными АСП Клиента.
</p>
<p>
    3.2. Электронный документ считается подписанным АСП Клиента, если:
</p>
<p>
    3.2.1. Электронный документ создан и (или) отправлен/предоставлен с использованием системы Сайта/Мобильного приложения;
</p>
<p>
    3.2.2. В текст электронного документа включен Идентификатор, сгенерированный системой на основании АСП Клиента, введенного Клиентом в специальное интерактивное поле на Сайте/Мобильном приложении.
</p>
<p>
    3.3. Сообщение, содержащее АСП Клиента, направляется на Зарегистрированный номер Клиента и, таким образом, считается предоставленным лично Клиенту с сохранением конфиденциальности АСП Клиента.
</p>
<p>
    3.4. Предоставленный Клиенту АСП Клиента может быть однократно использован для подписания электронного документа, созданного и (или) отправляемого/предоставляемого с использованием системы Общества. Предоставление АСП Клиента осуществляется при получении электронного запроса Клиента, направленного Обществу посредством функциональных возможностей интерфейса Сайта/Мобильного приложения.
</p>
<p>
    3.5. Стороны договорились, что любая информация, подписанная АСП Клиента, признается электронным документом, равнозначным документу на бумажном носителе, подписанному собственноручной подписью Заемщика и, соответственно, порождает идентичные такому документу юридические последствия.
</p>
<p>
    4. ПРАВИЛА ПРОВЕРКИ ЭЛЕКТРОННОЙ ПОДПИСИ
</p>
<p>
    4.1. Факт подписания электронного документа Клиента устанавливается путем сопоставления сведений:
</p>
<p>
    4.1.1. Идентификатора, включенного в электронный документ;
</p>
<p>
    4.1.2. АСП Клиента, использованного для подписания электронного документа;
</p>
<p>
    4.1.3. Информации о предоставлении АСП Клиента, определенному Клиенту, хранящейся в системе;
</p>
<p>
    4.1.4. Технических данных об активности Клиента в ходе использования Сайта/ Мобильного приложения, автоматически зафиксированных в электронных журналах системы Общества.
</p>
<p>
    4.2. Общество осуществляет хранение электронных документов, которые были созданы, переданы или приняты Сторонами в процессе использования системы Общества. Кроме того, являющаяся частью системы Общества автоматическая система протоколирования (создания логов) активности Клиента позволяет Сторонам достоверно определить, каким Клиентом и в какое время был сформирован, подписан или отправлен тот или иной электронный документ.
</p>
<p>
    4.3. Стороны соглашаются, что указанный в п. 4.1. настоящего Соглашения способ определения Клиента, создавшего и подписавшего электронный документ, является достаточным для цели достоверной идентификации Клиента и исполнения настоящего Соглашения.
</p>
<p>
    5. КОНФИДЕНЦИАЛЬНОСТЬ
</p>
<p>
    5.1. Клиент обязан:
</p>
<p>
    5.1.1. Не разглашать информацию о средствах идентификации и конфиденциального АСП Клиента, полученных Клиентом в целях формирования АСП, а также предпринимать все меры, необходимые для сохранения этих сведений в тайне;
</p>
<p>
    5.1.2. Не передавать третьим лицам SIM-карту, которая обеспечивает возможность использовать Зарегистрированный номер Клиента, а также предпринимать все меры, необходимые для того, чтобы третьи лица не получили возможность использования указанной SIM-карты;
</p>
<p>
    5.1.3. Не предоставлять третьим лицам доступ к почтовому ящику Клиента, который был указан Клиентом на Сайте/Мобильном приложении, а также предпринимать все меры для того, чтобы информация, необходимая для такого доступа (логин и пароль), не стали известна третьим лицам.
</p>
<p>
    5.1.4. Незамедлительно сообщать Обществу о нарушении секретности сведений, указанных в п.п. 5.1.1. - 5.1.3., а также о возникновении у Клиента подозрений в нарушении их секретности, одним из следующих способов:
</p>
<p>
    - путем направления электронного сообщения на электронный адрес Общества (соответствующее сообщение с указанием фамилии, имени и отчества Клиента, а также быть направлено с зарегистрированного почтового ящика Клиента);
</p>
<p>
    - путем обращения в службу поддержки Общества (при обращении по телефону Клиент должен предоставить сведения, позволяющие идентифицировать Заемщика: паспортные данные, адрес места жительства, иные сведения, указанные ранее в Заявке).
</p>
<p>
    5.2. Клиент полностью несет риск всех неблагоприятных последствий, которые могут наступить в связи с неисполнением обязанностей, предусмотренных п.п. 5.1.1 - 5.1.4, в том числе риски, связанные с негативными последствиями недобросовестных действий третьих лиц, получивших вышеуказанную информацию.
</p>
<p>
    5.3. Система Общества обеспечивает конфиденциальность информации о АСП Клиента. Доступ к сведениям об АСП Клиента, Логине и/или Пароле, закрепленных за Клиентом, доступны исключительно уполномоченным сотрудникам Общества в соответствии с политикой информационной безопасности, принятой в Обществе.
</p>
<p>
    6. ОТВЕТСТВЕННОСТЬ СТОРОН
</p>
<p>
    6.1. Стороны несут ответственность за невыполнение или ненадлежащее выполнение своих обязанностей по настоящему Соглашению в пределах суммы причиненного другой стороне реального ущерба.
</p>
<p>
    6.2. Стороны не несут ответственность за неисполнение либо ненадлежащее исполнение своих обязанностей по настоящему Соглашению, если соответствующее нарушение обусловлено ненадлежащим исполнением своих обязанностей другой Стороной или вызвано воздействием обстоятельств непреодолимой силы.
</p>
<p>
    7. ПОРЯДОК ПРИСОЕДИНЕНИЯ К СОГЛАШЕНИЮ И ЕГО ИЗМЕНЕНИЯ
</p>
<p>
    7.1. Присоединяясь к условиям Соглашения об использовании АСП на Сайте/Мобильном приложении и осуществляя дальнейшее использование Сайта/Мобильного приложения, Клиент полностью присоединяется к условиям настоящего Соглашения. Клиент принимает условия Соглашения только в полном объёме.
</p>
<p>
    7.2. Общество вправе в одностороннем порядке изменять (дополнять) условия настоящего Соглашения.
</p>
<p>
    Новая редакция Соглашения доводится до сведения Клиента посредством опубликования новой редакции соответствующего документа на Сайте/Мобильном приложении в соответствии с действующим законодательством.
</p>
<p>
    8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
</p>
<p>
    8.1. После прекращения действия настоящего Соглашения Клиент не имеет права использовать Сайт/Мобильное приложение для оформления Заявок на предоставление микрозаймов. Дальнейшее использование Сайта/Мобильного приложения для указанной цели возможно только при условии присоединения Клиента к условиям настоящего Соглашения.
</p>
