<p>
    Клиент дает свое согласие Обществу с ограниченной ответственностью «Финспин» ОГРН 1146670012444 (далее – «Общество») на получение информации об оказываемых Обществом услугах, а также включение информации о Клиенте в базу потенциальных клиентов Партнеров, в том числе для предложения Клиенту услуг Партнеров по телефону, в почтовых отправлениях, в sms-сообщениях или в тексте электронных писем, получения услуг от Партнеров, связанных с оперативным получением доступа к кредитным, банковским, страховым и иным продуктам Партнеров, включая получение кредитов, займов/микрозаймов, кредитных карт, открытие счетов, привлечение квалифицированной консультационной помощи.
</p>
<p>
    Электронная подпись:
</p>

<p>
    Подписано простой электронной подписью с использованием номера мобильного телефона <!--OPTIONAL-->{{phone}}. {{date}} / {{time}} (время Московское)<!--/OPTIONAL-->
</p>
