<p>
  620075, г. Екатеринбург, улица Мамина-Сибиряка, д.101, офис 4.06
</p>

<p style="font-weight: 600">
  1. Назначение и область действия.
</p>
<ol>
  <li>
    «Политика ООО «ФИНСПИН» (далее по тексту также - Общество) в отношении обработки персональных данных» (далее – Политика) определяет позицию и намерения Общества в области обработки и защиты персональных данных, с целью соблюдения и защиты прав и свобод каждого человека и, в особенности, права на неприкосновенность частной жизни, личную и семейную тайну, защиту своей чести и доброго имени.
  </li>
  <li>
    Политика неукоснительно исполняется руководителями и работниками всех структурных подразделений и филиалов ООО «ФИНСПИН».
  </li>
  <li>
    Действие Политики распространяется на все персональные данные субъектов, обрабатываемые в Обществе с применением средств автоматизации и без применения таких средств.
  </li>
  <li>
    Политика определяет меры по защите персональных данных, обязанности Общества при их обработке.
  </li>
  <li>
    К настоящей Политике имеет доступ любой субъект персональных данных.
  </li>
  <li>
    Политика разработана в соответствии с действующим законодательством Российской Федерации о персональных данных, нормативными актами исполнительных органов власти по вопросам безопасности персональных данных, в том числе при их обработке в информационных системах персональных данных (далее – ИСПД).
  </li>
  <li>
    Действие настоящей Политики в отношении обработки персональных данных распространяется на все процессы по сбору, записи, систематизации, хранению, извлечению, использованию, передаче, распространению, передаче, обезличиванию, блокированию, удалению, осуществляемых с использованием средств автоматизации и без использования таких средств.
  </li>
</ol>

<p style="font-weight: 600">
  2. Определения
</p>
<ol>
  <li>
    Персональные данные - любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных). Т.е. к такой информации, в частности, можно отнести: ФИО, год, месяц, дата и место рождения, адрес, сведения о семейном, социальном, имущественном положении, сведения об образовании, профессии, доходах, сведения о состоянии здоровья, а также другую информацию.
  </li>
  <li>
    Субъект персональных данных - физическое лицо, которое прямо или косвенно определено или определяемо с помощью персональных данных.
  </li>
  <li>
    Информационная система персональных данных – совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.
  </li>
  <li>
    Обработка персональных данных - любое действие (операция) или совокупность действий (операций) с персональными данным, совершаемых с использованием средств автоматизации или без использования таких средств. К таким действиям (операциям) можно отнести: сбор, получение, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
  </li>
  <li>
    Оператор – ООО «ФИНСПИН», самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
  </li>
</ol>

<p style="font-weight: 600">
  3. Субъекты персональных данных ООО «ФИНСПИН» обрабатывает персональные данные следующих лиц:
</p>
<ol>
  <li>
    работники (субъекты), состоящие в трудовых отношениях с оператором;
    субъекты, с которыми заключены договоры гражданского-правового характера;
  </li>
  <li>
    субъекты, с которыми заключены договоры гражданского-правового характера;
  </li>
  <li>
    кандидаты на замещение вакантных должностей;
  </li>
  <li>
    пользователи системы, оформляющие заявку при помощи сервиса оператора.
  </li>
</ol>

<p style="font-weight: 600">
  4. Принципы и условия обработки персональных данных
</p>
<ol>
  <li>
    Под безопасностью персональных данных ООО «ФИНСПИН» понимает защищенность персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных и принимает необходимые правовые, организационные и технические меры для защиты персональных данных.
  </li>
  <li>
    Обработка и обеспечение безопасности персональных данных в ООО «ФИНСПИН» осуществляется в соответствии с требованиями Конституции Российской Федерации, Федерального закона № 152-ФЗ «О персональных данных», подзаконных актов, других определяющих случаи и особенности обработки персональных данных федеральных законов Российской Федерации, руководящих и методических документов ФСТЭК России и ФСБ России.
  </li>
  <li>
    При обработке персональных данных ООО «ФИНСПИН» придерживается следующих принципов:
    <ul>
      <li>
        законности и справедливой основы;
      </li>
      <li>
        ограничения обработки персональных данных достижением конкретных, заранее определенных и законных целей;
      </li>
      <li>
        недопущения обработки персональных данных, несовместимой с целями сбора персональных данных;
      </li>
      <li>
        недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;
      </li>
      <li>
        обработки персональных данных, которые отвечают целям их обработки;
      </li>
      <li>
        соответствия содержания;
      </li>
      <li>
        обрабатываемые персональные данные не являются избыточными по отношению к заявленным целям обработки.
      </li>
    </ul>
  </li>
  <li>
    Общество обрабатывает персональные данные только при наличии хотя бы одного из следующих условий:
    <ul>
      <li>
        обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;
      </li>
      <li>
        обработка персональных данных необходима для достижения целей, предусмотренных законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;
      </li>
      <li>
        обработка персональных данных необходима для исполнения договора, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;
      </li>
      <li>
        обработка персональных данных необходима для осуществления прав и законных интересов Общества или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;
      </li>
      <li>
        осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе;
      </li>
      <li>
        осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.
      </li>
      <li>
        базы данных, с использованием которых осуществляется сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), а также извлечение персональных данных граждан Российской Федерации находятся на территории Российской Федерации.
      </li>
    </ul>
  </li>
  <li>
    ООО «ФИНСПИН» вправе поручить обработку персональных данных граждан третьим лицам, на основании заключаемого с этими лицами договора. Лица, осуществляющие обработку персональных данных по поручению ООО «ФИНСПИН», обязуются соблюдать принципы и правила обработки и защиты персональных данных, предусмотренные Федеральным законом № 152-ФЗ «О персональных данных». Для каждого лица определены перечень действий (операций) с персональными данными, которые будут совершаться юридическим лицом, осуществляющим обработку персональных данных, цели обработки, установлена обязанность такого лица соблюдать конфиденциальность и обеспечивать безопасность персональных данных при их обработке, а также указаны требования к защите обрабатываемых персональных данных.
  </li>
  <li>
    В случаях, установленных законодательством Российской Федерации, ООО «ФИНСПИН» вправе осуществлять передачу персональных данных граждан.
  </li>
  <li>
    В целях информационного обеспечения в Обществе могут создаваться общедоступные источники персональных данных работников, в том числе справочники и адресные книги. В общедоступные источники персональных данных с согласия работника могут включаться его фамилия, имя, отчество, дата и место рождения, должность, номера контактных телефонов, адрес электронной почты. Сведения о работнике должны быть в любое время исключены из общедоступных источников персональных данных по требованию работника либо по решению суда или иных уполномоченных государственных органов.
  </li>
  <li>
    Хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных бессрочно, до отзыва согласия на обработку персональных данных субъектом персональных данных.
  </li>
  <li>
    Общество уничтожает либо обезличивает персональные данные в течение 30 дней с момента получения отзыва согласия на обработку персональных данных.
  </li>
  <li>
    Письменное согласие субъекта на обработку его персональных данных требуется:
    <ul>
      <li>
        включение персональных данных объекта в общедоступные источники;
      </li>
      <li>
        обработка специальных категорий персональных данных, касающиеся расовой, национальной принадлежности, политических взглядов, религиозных и философских убеждений, состояния здоровья, интимной жизни, сведений о судимости.
      </li>
      <li>
        обработка биометрических персональных данных (сведений, характеризующих биологические и физиологические особенности человека, на основании которых можно установить его личность и которые используются оператором для установления личности субъекта персональных данных);
      </li>
      <li>
        трансграничная передача персональных данных на территории иностранных государств, не обеспечивающих адекватной защиты прав субъектов.
      </li>
      <li>
        принятие на основании исключительно автоматизированной обработки персональных данных решений, порождающих юридические последствия в отношении субъекта персональных данных или иным образом затрагивающих его права и законные интересы.
      </li>
    </ul>
  </li>
  <li>
    При отсутствии необходимости получения согласия на обработку персональных данных в письменной форме, установленной Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных», согласие субъекта может быть дано субъектом персональных данных или его представителем в любой форме, позволяющей подтвердить факт получения, в том числе в электронном виде.
  </li>
</ol>

<p style="font-weight: 600">
  5. Права субъекта персональных данных.
</p>
<p>
  Гражданин, персональные данные которого обрабатываются ООО «ФИНСПИН», имеет право получать от ООО «ФИНСПИН»:
  <ul>
    <li>
      подтверждение факта обработки персональных данных ООО «ФИНСПИН»;
    </li>
    <li>
      правовые основания и цели обработки персональных данных;
    </li>
    <li>
      сведения о применяемых ООО «ФИНСПИН» способах обработки персональных данных;
    </li>
    <li>
      наименование и местонахождения ООО «ФИНСПИН»;
    </li>
    <li>
      сведения о лицах, которые имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на основании договора с ООО «ФИНСПИН» или на основании федерального закона;
    </li>
    <li>
      перечень обрабатываемых персональных данных, относящихся к гражданину, от которого поступил запрос и источник их получения, если иной порядок предоставления таких данных не предусмотрен федеральным законом;
    </li>
    <li>
      сведения о сроках обработки персональных данных, в том числе о сроках их хранения;
    </li>
    <li>
      сведения о порядке осуществления гражданином прав, предусмотренных Федеральным законом «О персональных данных» № 152-ФЗ;
    </li>
    <li>
      информацию об осуществляемой или о предполагаемой трансграничной передаче персональных данных;
    </li>
    <li>
      наименование и адрес лица, осуществляющего обработку персональных данных по поручению ООО «ФИНСПИН»;
    </li>
    <li>
      иные сведения, предусмотренные Федеральным законом «О персональных данных» № 152-ФЗ или другими федеральными законами;
    </li>
    <li>
      требовать уточнения своих персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
    </li>
    <li>
      отозвать свое согласие на обработку персональных данных;
    </li>
    <li>
      требовать устранения неправомерных действий ООО «ФИНСПИН» в отношении его персональных данных;
    </li>
    <li>
      обжаловать действия или бездействие ООО «ФИНСПИН» в Федеральную службу по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) или в судебном порядке в случае, если гражданин считает, что ООО «ФИНСПИН» осуществляет обработку его персональных данных с нарушением требований Федерального закона № 152-ФЗ «О персональных данных» или иным образом нарушает его права и свободы;
    </li>
    <li>
      на защиту своих прав и законных интересов, в том числе на возмещение убытков и/или компенсацию морального вреда в судебном порядке.
    </li>
  </ul>
</p>

<p style="font-weight: 600">6. Обязанности ООО «ФИНСПИН».</p>
<p>
  <ul>
    <li>
      предоставлять субъекты персональных данных по его запросу информацию, касающуюся обработки его персональных данных, либо на законных основаниях предоставить отказ;
    </li>
    <li>
      по требованию субъекта уточнять обрабатываемые персональные данные, блокировать или удалять, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки. Либо обеспечить блокирование, удаление, в случае если обработка персональных данных осуществляется другим лицом, действующим по поручению оператора;
    </li>
    <li>
      вести журнал учета обращений субъектов персональных данных, в котором должны фиксироваться запросы субъектов на получение персональных данных, а также факты предоставления персональных данных по этим запросам;
    </li>
    <li>
      уведомлять субъекта персональных данных об обработке персональных данных в том случае, если персональные данные были получены не от субъекта персональных данных (за исключением случаев, когда субъект уже был уведомлен об обработке его персональных данных соответствующим оператором);
    </li>
    <li>
      в случае отзыва субъектом персональных данных согласия на обработку своих персональных данных, прекратить обработку персональных данных и уничтожить персональные данные в срок, не превышающий 30-ти дней с даты поступления указанного отзыва, если иное не предусмотрено соглашением между оператором и субъектом. Об уничтожении персональных данных Общество обязано уведомить субъекта персональных данных;
    </li>
    <li>
      при сборе персональных данных. В том числе при помощи информационно-телекоммуникационной сети «Интернет», обеспечить запись, систематизацию, накопление, хранение, уточнение, извлечение персональных данных граждан Российской Федерации с использованием баз данных, находящихся на территории Российской Федерации, за исключением случаев, указанных в Федеральном законе № 152.
    </li>
  </ul>
</p>
<p>
  В случае неисполнения положений настоящей Политики ООО «ФИНСПИН» несет ответственность в соответствии действующим законодательством Российской Федерации.
</p>

<p style="font-weight: 600">7. Меры по обеспечению безопасности персональных данных при их обработке.</p>
<p>
  <ol>
    <li>
      При обработке персональных данных Общество принимает необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.
    </li>
    <li>Обеспечение безопасности персональных данных достигается:
      <ul>
        <li>
          определением угроз безопасности персональных данных при их обработке в информационных системах персональных данных;
        </li>
        <li>
          применением организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных, необходимых для выполнения требований к защите персональных данных, исполнение которых обеспечивает установленные Правительством российской Федерации уровни защищенности персональных данных;
        </li>
        <li>
          оценкой эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию информационной системы персональных данных;
        </li>
        <li>
          применение прошедших в установленном порядке процедуру оценки соответствия средств защиты информации
        </li>
        <li>
          учетом машинных носителей персональных данных;
        </li>
        <li>
          обнаружением фактов несанкционированного доступа к персональным данным и принятием мер;
        </li>
        <li>
          восстановлением персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
        </li>
        <li>
          установление правил доступа к персональным данным, обрабатываемым в информационной системе персональных данных, а также обеспечением регистрации и учета действий, совершаемых с персональными данными в информационной системе персональных данных;
        </li>
        <li>
          размещение технических средств обработки персональных данных в пределах охраняемой территории;
        </li>
        <li>
          поддержание технических средств охраны, сигнализации в постоянной готовности;
        </li>
        <li>
          проведение мониторинга действий пользователей, проведение разбирательств по фактам нарушения требований безопасности персональных данных
        </li>
        <li>
          контролем доступа в помещения (пропускной режим), в которых осуществляется обработка персональных данных;
        </li>
        <li>
          контролем эффективности применяемых мер и средств по обеспечению безопасности персональных данных, а также контролем уровня защищенности информационных систем персональных данных.
        </li>
      </ul>
    </li>
  </ol>
</p>

<p>
  ОБРАЩАЕМ ВАШЕ ВНИМАНИЕ!
</p>
<p>
  Получить разъяснения по интересующим Вас вопросам обработки Ваших персональных данных вы можете, обратившись лично в ООО «ФИНСПИН» либо направив официальный запрос по Почте России по адресу: 620075, г. Екатеринбург, улица Мамина-Сибиряка, д.101, офис 4.06
</p>
<p>
  В случае направления официального запроса в ООО «ФИНСПИН» в тексте запроса необходимо указать:
  <ul>
    <li>
      ФИО;
    </li>
    <li>
      номер основного документа, удостоверяющего личность субъекта персональных данных или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе;
    </li>
    <li>
      сведения, подтверждающие Ваше участие в отношениях с ООО «ФИНСПИН» либо сведения, иным способом подтверждающие факт обработки персональных данных ООО «ФИНСПИН»;
    </li>
    <li>
      подпись гражданина (или его законного представителя). Если запрос отправляется в электронном виде, то он должен быть оформлен в виде электронного документа и подписан электронной подписью в соответствии с законодательством РФ.
    </li>
  </ul>
</p>
<p>
  На сайте <a href="https://finspin.ru">www.finspin.ru</a> публикуется актуальная версия «Политики «ООО «ФИНСПИН» в отношении обработки персональных данных».
</p>
<p>
  В целях координации действий по обеспечению безопасности персональных данных в ООО «ФИНСПИН» назначены лица, ответственные за обеспечение безопасности персональных данных.
</p>
