<p>
  “Бюро” – любое надлежащим образом зарегистрированное и имеющее лицензию бюро кредитных историй.
</p>

<p>
  “Партнер” – каждое из приведенных ниже лиц для целей настоящего согласия является Партнером:
</p>

<p>
  - Общество с ограниченной ответственностью Микрофинансовой организации «Займ Онлайн», ОГРН 1127746428171
  <br />
  - Общество с ограниченной ответственностью Микрофинансовой компании «СМСФИНАНС», ОГРН 1117746198998
  <br />
  - Общество с ограниченной ответственностью Микрокредитная компания "Саян", ОГРН 1106671025196
  <br />
  - Общество с ограниченной ответственностью Микрофинансовая компания «ДЗП-Центр», ОГРН 1147847029990
  <br />
  - Общество с ограниченной ответственностью “Микрокредитная Компания Универсального Финансирования“, ОГРН 1156196059997
  <br />
  - Акционерное общество «ОТП Банк», ОГРН 1027739176563
  <br />
  - Общество с ограниченной ответственностью Микрофинансовая компания «Кредитех Рус», ОГРН 1135543003793
  <br />
  - Общество с ограниченной ответственностью Микрофинансовая компания "ЭйрЛоанс", ОГРН 1106671025196
  <br />
  - Общество с ограниченной ответственностью Микрокредитная компания "АН БизнесИнвест", ОГРН 1106630000586
  <br />
  - Общество с ограниченной ответственностью Микрокредитная компания "Быстроденьги", ОГРН 1087325005899.
  <br />
  - Общество с ограниченной ответственностью Микрофинансовая компания "Турбозайм", ОГРН 1137746702367
  <br />
  - Общество с ограниченной ответственностью Микрофинансовая компания "МигКредит", ОГРН 2110177000037
  <br />
  - Обществом с ограниченной ответственностью Микрокредитной компанией «Русинтерфинанс», ОГРН 1125476023298
</p>

<p>
  Кредитный отчет - документ, который содержит информацию, входящую в состав кредитной истории, и который Бюро
  предоставляет по запросу Партнера в соответствии с настоящим согласием.
</p>

<p>
  Настоящим Клиент выражает свое согласие Партнеру на получение кредитного отчета Клиента, сформированного на основании Клиентской кредитной истории в Бюро с целью выдачи займа или кредита, а также оценки кредитоспособности.
</p>

<p>
  А также Клиент выражает согласие на предоставление информации, предусмотренной статьей 4 Федерального закона от 30 декабря 2004 г. № 218 ФЗ «О кредитных историях», в любое Бюро, в целях исполнения требований Федерального закона от 30 декабря 2004 г. № 218 ФЗ «О кредитных историях».
</p>

<p>
  Согласие действует в течение двух месяцев со дня подписания.
</p>

<p>
  Электронная подпись:
</p>
<p>
  Подписано простой электронной подписью с использованием номера мобильного телефона <!--OPTIONAL-->{{phone}}. {{date}} / {{time}} (время Московское)<!--/OPTIONAL-->
</p>
