@font-face {
  font-family: 'Tele2Serif';
  src: url('themes/tele2/fonts/Tele2DisplaySerif-Regular.eot');
  src: url('themes/tele2/fonts/Tele2DisplaySerif-Regular.eot?#iefix') format('embedded-opentype'),
       url('themes/tele2/fonts/Tele2DisplaySerif-Regular.woff2') format('woff2'),
       url('themes/tele2/fonts/Tele2DisplaySerif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tele2Serif';
  src: url('themes/tele2/fonts/Tele2DisplaySerif-Bold.eot');
  src: url('themes/tele2/fonts/Tele2DisplaySerif-Bold.eot?#iefix') format('embedded-opentype'),
       url('themes/tele2/fonts/Tele2DisplaySerif-Bold.woff2') format('woff2'),
       url('themes/tele2/fonts/Tele2DisplaySerif-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tele2Sans';
  src: url('themes/tele2/fonts/Tele2TextSans-Regular.eot');
  src: url('themes/tele2/fonts/Tele2TextSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('themes/tele2/fonts/Tele2TextSans-Regular.woff2') format('woff2'),
       url('themes/tele2/fonts/Tele2TextSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tele2Sans';
  src: url('themes/tele2/fonts/Tele2TextSans-Bold.eot');
  src: url('themes/tele2/fonts/Tele2TextSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('themes/tele2/fonts/Tele2TextSans-Bold.woff2') format('woff2'),
       url('themes/tele2/fonts/Tele2TextSans-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
