$primary-color: #38FFA6;
$bg-color-gray: #F7F7FA;
$bg-color-black: #1F2229;
$btn-color: #1f2229;
$btn-hover-color: #626469;

$header-font-weight: 600;
$base-font-size: 14px;

// Scope the whole file to the landing page and modals on it.
.l-land, .loan-calculator-modal {
  width: 100%;
  margin: auto;

  font-family: Tele2Sans, sans-serif;
  color: #1F2229;

  button, input, optgroup, select, textarea {
    font-family: Tele2Sans, sans-serif;
  }

  ._bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg-1 {
    position: relative;
    background: $bg-color-gray;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 240px;
      width: 100%;
      background: linear-gradient(to right bottom, transparent 50%, white 50%);

      @media (max-width: 640px) {
        height: 50px;
        background-color: white;
      }
    }
  }

  .bg-2 {
    position: relative;
    background-color: $bg-color-gray;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 250px;
      width: 100%;
      background: linear-gradient(to right top, transparent 50%, white 50%);

      @media (max-width: 640px) {
        background: white;
        height: 60px;
      }

    }
  }

  .bg-3 {
    position: relative;
    background: linear-gradient(135deg, #FCEB6F, #FEDE60);

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 240px;
      width: 100%;
      background: linear-gradient(to right bottom, transparent 50%, white 50%);

      @media (max-width: 640px) {
        background: white;
        height: 40px;
      }
    }
  }

  .l-content-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .l-content {
    max-width: 1000px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;

    p {
      line-height: 24px;
    }

    color: #1D1D1D;
  }

  .l-content-pad {
    @extend .l-content;
    padding-left: 20px;
    padding-right: 20px;
  }

  .l-content-line {
    display: flex;
  }

  .title-1 {
    font-size: 2.625rem;
    font-weight: $header-font-weight;
    line-height: 3rem;
    margin-bottom: 20px;
    font-family: Tele2Serif, serif;

    @media (max-width: 640px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .title-2 {
    font-size: 2.625rem;
    font-weight: $header-font-weight;
    line-height: 3.000rem;
    font-family: Tele2Serif, serif;

    @media (max-width: 640px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .title-2-5 {
    font-size: 32px;
    font-weight: $header-font-weight;
    line-height: 36px;
    margin-bottom: 20px;
    font-family: Tele2Serif, serif;
  }

  .title-3 {
    font-size: 24px;
    font-weight: $header-font-weight;
    line-height: 28px;
    font-family: Tele2Serif, sans-serif;
  }

  .title-4 {
    font-size: 20px;
    font-weight: $header-font-weight;
    line-height: 1.583rem;
    font-family: Tele2Serif, sans-serif;
  }

  .title-6 {
    font-weight: $header-font-weight;
    text-transform: uppercase;
  }

  .subtitle-2 {
    color: #5D5F66;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .line-container {
    display: inline;
  }

  .line {
    background: url('assets/images/title-green.gif') repeat-x 0 85% !important;
    background-position: 0 85% !important;
    background-size: auto 12px;
    display: inline !important;

    @media (max-width: 640px) {
      background-size: auto 8px;
    }
  }

  .title-1,
  .title-2 {
    display: inline-block;
    background: none;
  }

  .up-header-content {
    @extend .l-content-pad;
    position: relative;
  }

  .up-header {
    height: 64px;
    position: relative;

    &-description {
      font-size: 14px;
      color: #8F9399;
      float: right;
      padding-top: 22px;
      line-height: 22px;

      @media (max-width: 640px) {
        display: none;
      }
    }

    &-prunto-logo {
      position: absolute;
      top: 12px;
      left: 20px;

      @media (max-width: 640px) {
        position: static;
        margin: 10px 0;
      }
    }

    @media (max-width: 640px) {
      height: auto;
    }
  }

  .header-bg {
    background: #1F2229;

  }

  .landing-header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 640px) {
      display: none;
    }
  }

  .prunto-logo {
    @extend ._bg;

    background-image: url('./assets/icons/finspin-logo-md.svg');
    width: 130px;
    height: 39px;
  }

  .landing-menu {
    display: inline-block;

    &-item-container {
      display: inline-block;
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }
    }

    &-item {
      cursor: pointer;
      display: inline-block;
      line-height: 20px;
      color: white;
      transition: ease 0.2s;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    &-items {
      max-width: 1000px;
    }

    &.menu-footer {
      height: 34px;
      line-height: 28px;
      border-top: 1px solid #36393F;
      border-bottom: 1px solid #36393F;
      width: 100%;
      margin-bottom: 30px;

      .landing-menu-item {
        font-size: 14px;
      }

      .landing-menu-items {
        margin: auto;
        padding: 0 20px;

        @media (max-width: 640px) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      @media (max-width: 640px) {
        padding: 0;
        height: auto;
        line-height: 100%;

        .landing-menu-item-container {
          padding: 0 0 15px 0;
          display: block;

          &:last-child {
            padding-bottom: 0;
          }
        }

        .landing-menu-item {
          padding: 5px 0;

          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }

  .l-base-loan {
    padding: 60px 20px 120px 20px;
    margin: auto;
    max-width: 1000px;
    position: relative;
    z-index: 10;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      padding-bottom: 100px;
    }

    @media (max-width: 640px) {
      padding: 20px 0 60px 0;
    }
  }

  .base-loan {
    &-title {
      margin-bottom: 20px;

      @media (max-width: 640px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 1000px) {
        text-align: center;
        order: 1;

        .title-2 {
          margin-bottom: 0;
        }
      }

      @media (min-width: 1001px) {
        max-width: 360px;
      }
    }

    &-description {
      max-width: 400px;
      margin-right: 70px;

      @media (max-width: 640px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 1000px) {
        max-width: 100%;
        margin: auto;
        margin-top: 20px;
        order: 3;
      }
    }

    &-point-text {
      padding-top: 5px;
      margin-left: 10px;
      line-height: 22px;
    }

    &-points {
      @media (max-width: 1000px) {
        display: flex;
      }
      @media (max-width: 768px) {
        display: block;
      }
    }

    &-point {
      margin-right: 15px;
      margin-bottom: 16px;
      min-width: 180px;
      display: flex;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 1000px) {
        width: 33.3%;
      }

      @media (max-width: 768px) {
        margin-right: 0;
        width: auto;
      }
    }

    &-form {
      width: 510px;
      padding: 20px 0 40px 0;

      @media (min-width: 1001px) {
        position: absolute;
        top: 60px;
        right: 20px;
      }

      @media (max-width: 1000px) {
        order: 2;
      }

      @media (max-width: 640px) {
        padding-top: 10px;
      }

      &-login {
        text-align: center;
        margin-top: 15px;
        font-weight: bold;
        font-family: Tele2Serif, serif;
        transition: ease 0.2s;
      }

      &-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 640px) {
          flex-direction: column;
          justify-content: center;
        }
      }

      &-info-1 {
        order: 1;
        padding-right: 10px;
        padding-bottom: 22px;

        @media (max-width: 640px) {
          margin: auto;
          text-align: center; // For IE 11
          padding-right: 0;
          padding-bottom: 11px;
        }
      }

      &-info-1-block {
        display: inline-block;
      }

      &-info-2 {
        order: 2;
        width: 175px;

        @media (max-width: 640px) {
          width: auto;
          order: 3;
          padding-bottom: 20px;
          margin: auto;
          text-align: center; // For IE 11
          > div {
            display: inline-block;
          }
        }
      }

      &-info-3 {
        order: 3;
        max-width: 220px;

        @media (max-width: 640px) {
          max-width: 100%;
          order: 2;
          text-align: center;
          padding-bottom: 20px;
        }
      }

      &-info-4 {
        order: 4;

        @media (max-width: 640px) {
          text-align: center;
        }
      }

      .body-2 {
        color: #8B8B8B;
        padding-bottom: 2px;
        line-height: 24px;
        margin-right: 5px;
        text-align: left; // For IE 11
      }

      &-sign {
        padding: 27px 6px 0 6px;
      }

      &-slider-block {
        padding-bottom: 25px;
      }

      &-slider {
        padding: 10px 0;
      }

      &-slider-caption {
        display: flex;
        justify-content: space-between;
      }

      &-title-1 {
        font-weight: $header-font-weight;
        font-size: 18px;
        line-height: 22px;
        font-family: Tele2Serif, sans-serif;
      }

      .title-4 {
        font-weight: $header-font-weight;
        font-size: 18px;
        line-height: 22px;
        text-align: left; // For IE 11
        font-family: Tele2Serif, sans-serif;
      }

      &-small {
        font-size: 14px;
        color: #8B8B8B;
        line-height: 18px;
      }

      @media (max-width: 1000px) {
        display: block;
        margin: auto;
        margin-top: 10px;
      }

      @media (max-width: 640px) {
        width: 100%;
        height: auto;
        border: none;
        padding-left: 25px;
        padding-right: 25px;
        background: #F7F7F7;
      }
    }
  }

  .l-work {
  }

  .work {
    &-title {
      @media (max-width: 640px) {
        text-align: center;
      }
    }

    &-point {
      padding-top: 30px;
      display: flex;

      > p {
        margin: 0;
        margin-top: 10px;
      }
    }

    &-point-icon {
      display: none;
      margin-right: 16px;

      @media (max-width: 640px) {
        display: block;
      }
    }

    &-point-text {
      @media (max-width: 640px) {
        padding-top: 5px;
      }
    }

    &-hand {
      margin-top: 48px;
      display: inline-block;
      margin-right: 100px;

      @media (max-width: 640px) {
        display: none;
      }
    }

    &-description {
      width: 65%;
      display: inline-block;

      @media (max-width: 640px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  .l-programs {
    padding-top: 120px;
    padding-bottom: 80px;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 10;

    @media (max-width: 640px) {
      padding-bottom: 48px;
    }
  }

  .programs {
    max-width: 1000px;
    padding-top: 50px;

    @media (max-width: 640px) {
      padding-top: 30px;
    }
  }

  ._program-bg {
    @extend ._bg;
    width: 300px;
    height: 200px;
    margin: auto;
  }

  @mixin program-bg($path) {
    @extend ._program-bg;
    background-image: url('./assets/images/program-#{$path}-monochrome.jpg');
  }

  @for $i from 1 through 6 {
    .program-#{$i} {
      @include program-bg($i);
    }
  }

  .program {
    position: relative;
    width: 300px;
    height: 436px;
    margin: 15px;
    display: inline-block;
    background: white;

    &-image {
      height: 200px;
      background-color: lightblue;
    }

    &-content {
      padding: 30px 20px;
      text-align: center;
      height: 236px;
    }

    &-hit {
      width: 80px;
      height: 80px;
      margin: auto;
      position: absolute;
      top: 130px;
      left: 0;
      right: 0;
      border-radius: 50%;
      background-color: #FFE713;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    }

    &-hit-icon {
      margin-top: 12px;
    }

    &-hit-caption {
      font-weight: $header-font-weight;
      font-size: 14px;
      color: #1F2229;
      margin-top: -5px;
      text-transform: uppercase;
      font-family: Tele2Serif, sans-serif;
    }

    @media (max-width: 600px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .l-stat {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

    @media (max-width: 640px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }

  .stat-list {
    padding-top: 5px;

    @media (max-width: 640px) {
      padding-top: 15px;
    }
  }

  .stat {
    $stat-border-color: #D1DBD6;

    width: 300px;
    height: 200px;
    border: 1px solid $stat-border-color;
    margin: 15px;
    display: inline-block;
    padding-top: 50px;

    &-title {
      font-size: 3.375rem;
      font-weight: $header-font-weight;
      line-height: 3.333rem;
      margin-bottom: 20px;
      font-family: Tele2Serif, sans-serif;
    }

    &-subtitle {
      font-size: 0.792rem;
      font-weight: $header-font-weight;
      text-transform: uppercase;
      font-family: Tele2Serif, sans-serif;
    }

    &-divider {
      width: 260px;
      height: 1px;
      display: none;
      background-color: $stat-border-color;
      margin: auto;
      margin-top: 70px;

      @media (max-width: 670px) {
        display: block;
      }
    }

    @media (max-width: 670px) {
      display: block;
      margin: auto;
      border-top: none;
      border-bottom: none;
      border-radius: 0;

      &:first-child {
        margin-top: 15px;
        border-top: 1px solid $stat-border-color;
      }
      &:last-child {
        border-bottom: 1px solid $stat-border-color;
      }
    }
  }

  .l-faq {
    padding-top: 60px;
    padding-bottom: 120px;
    text-align: center;
    border-top: 1px solid #F2F2F2;

    @media (max-width: 640px) {
      padding-bottom: 80px;
    }
  }

  .faq {
    &-content {
      text-align: left;
      padding-top: 60px;
      padding-left: 100px;

      @media (max-width: 768px) {
        padding-left: 0;
      }
      @media (max-width: 640px) {
        padding-top: 40px
      }
    }

    &-question {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      &-handler {
        cursor: pointer;
        position: relative;
        padding-right: 30px;

        @media (max-width: 640px) {
          padding-right: 0;
        }
      }

      &-text {
        font-family: Tele2Serif, serif;
        font-size: 18px;
        line-height: 24px;
        display: inline;
        border-bottom: 1px dashed #B2B2B2;
      }

      &-arrow {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0;
        top: 4px;

        @media (max-width: 640px) {
          display: none;
        }
      }
    }

    &-answer {
      display: none;
      padding-left: 17px;
      padding-bottom: 15px;
      margin-top: 20px;
      line-height: 24px;
      padding-right: 30px;

      @media (max-width: 640px) {
        padding-right: 0;
      }

      &.is-open {
        display: block;
      }
    }

    &-subpoint {
      padding: 5px 0 5px 15px;

      &:first-child {
        padding-top: 10px;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.8);
        margin-right: 10px;
        margin-bottom: 2px
      }
    }
  }

  .l-upstair {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background: $bg-color-gray;
  }

  .upstair-up-btn {
    padding-top: 30px;
  }

  .l-footer {
    padding-top: 30px;
    padding-bottom: 60px;
    background: $bg-color-black;
  }

  .footer {
    display: flex;
    justify-content: space-between;

    &-email-caption {
      color: white;
    }

    &-email-link {
      font-family: Tele2Serif, serif;
      color: white !important;
      transition: ease 0.2s !important;

      &:hover {
        color: rgba(255, 255, 255, 0.8) !important;
      }
    }

    &-phone {
      margin-bottom: 30px;
      order: 1;

      @media (max-width: 900px) {
        order: 0;
      }
    }

    &-about {
      order: 0;

      @media (max-width: 900px) {
        order: 1;
      }
    }

    &-company {
      color: #8F9399;
      font-size: 0.813rem;
      line-height: 18px;
      max-width: 560px;

      @media (max-width: 900px) {
        max-width: 100%;
      }
    }

    &-copyright {
      margin-bottom: 20px;
      font-size: 0.813rem;
      color: white;
      line-height: 18px;
      font-weight: $header-font-weight;
    }

    &-phone-value {
      margin-bottom: 10px;

      .link {
        font-size: 34px;
        font-weight: $header-font-weight;
        line-height: 38px;
        font-family: Tele2Serif, serif;
        color: white !important;
        transition: ease 0.2s;

        &:hover {
          color: rgba(255, 255, 255, 0.8) !important;
        }
      }
    }

    &-phone-text {
      color: white;
    }

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .safety-padding {
    margin-left: 10px;
  }

  .safety {
    padding-top: 24px;
    color: #8B8B8B;
    line-height: 24px;
    display: flex;

    &-icon {
      margin-right: 10px;
    }

    &-text {

    }

    @media (max-width: 640px) {
      display: none;
    }
  }

  .btn {
    font-family: Tele2Serif, serif;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: 17px 43px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    text-align: center;
    min-width: 125px;
    border: 2px solid $btn-color;
    transition: color .2s linear, background-color .2s linear, border-color .2s linear;

    &.is-primary {
      background-color: $btn-color;
      color: white;

      &:hover {
        background-color: $btn-hover-color;
        border-color: $btn-hover-color;
      }
    }

    &.btn-outline {
      background-color: transparent;
      color: $btn-color;

      &:hover {
        border-color: $btn-hover-color;
        color: $btn-hover-color;
      }
    }
  }

  .link {
    color: $bg-color-black;
    cursor: pointer;
  }

  .no-wrap {
    white-space: nowrap
  }

  // =============================================
  // Custom styles added after migration from the old repo.
  // =============================================

  /* Basic */

  .comment-controls .icon {
    width: 21px;
    height: 38px;
  }

  .icon.like-big-icon {
    width: 222px;
    height: 224px;
  }

  .icon.like-icon {
    width: 40px;
    height: 40px;
  }

  .safety-icon .icon {
    width: 14px;
    height: 18px;
  }

  .icon.complete-icon {
    width: 24px;
    height: 24px;
  }

  /* Slider */

  .noUi-target {
    background-color: #E8E8ED !important;
    border-radius: 0 !important;
  }

  .noUi-connect {
    background-color: #38FFA6 !important;
    border-radius: 0 !important;
  }

  .noUi-handle {
    border: 1px solid #E8E8ED !important;
    background: white !important;
    box-shadow: 0 2px 8px #E8E8ED !important;
  }

  .slider--info-top-line {
    font-family: Tele2Serif, sans-serif !important;
  }

  .slider--info-bottom-line div {
    font-size: 14px !important;
  }

  /* Calculator */
  .base-loan-form--is-calc-pending {
    padding: 50px 20px 40px 20px;
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .is-align-center {
    text-align: center;
  }

  .caption.is-secondary {
    color: rgba(0, 0, 0, 0.6);
  }

  /* Modal */
  &.modal--content {
    border: 2px solid #000 !important;
    border-radius: 0 !important;
  }

  .expanded-info {
    margin-top: 10px;
    margin-left: 24px;

    @media (max-width: 640px) {
      margin-left: 0;
    }
  }

  .expanded-info__caption {
    cursor: pointer;
    line-height: 20px;
    display: inline;
    text-decoration: underline;

    @media (max-width: 640px) {
      text-align: center;
    }
  }

  .expanded-info__content {
    padding-top: 10px;
    line-height: 20px;
  }
}
