@import '../../node_modules/bootstrap/scss/bootstrap-reboot';

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

// IE10+ has a clear button "X" on each input. It looks ugly.
input::-ms-clear,
textarea::-ms-clear {
  display: none;
}
