@font-face {
  font-family: 'OfficinaSerifC-Book';
  src: url('themes/beeline/fonts/OfficinaSerifC-Book.eot');
  src: url('themes/beeline/fonts/OfficinaSerifC-Book.eot?#iefix') format('embedded-opentype'),
       url('themes/beeline/fonts/OfficinaSerifC-Book.woff2') format('woff2'),
       url('themes/beeline/fonts/OfficinaSerifC-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
