.l-land {
  font-family: OfficinaSerifC-Book, sans-serif;

  button, input, optgroup, select, textarea {
    font-family: OfficinaSerifC-Book, sans-serif;
  }

  background: #EEEBE6;

  ._bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .l-content-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .l-content {
    max-width: 910px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;

    p {
      line-height: 24px;
    }

    color: #1D1D1D;
  }

  .l-content-pad {
    @extend .l-content;
    padding-left: 20px;
    padding-right: 20px;
  }

  .l-content-line {
    display: flex;
  }

  .header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 640px) {
      height: 70px;
    }
  }

  .beeline-logo {
    @extend ._bg;
    background-image: url('./assets/icons/beeline-logo.svg');

    width: 128px;
    height: 38px;
  }

  .prunto-logo {
    @extend ._bg;
    background-image: url('./assets/icons/finspin-logo-md.svg');

    width: 130px;
    height: 39px;
  }

  .l-base-loan {
    padding: 30px 20px;
    margin: auto;
    max-width: 910px;
    position: relative;
    z-index: 10;

    @media (max-width: 640px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .l-base-loan {
      // =============================================
    // Custom styles added after migration from the old repo.
    // =============================================

    /* Slider */

    .noUi-target {
      height: 10px;
      background-color: #EDEDED !important;
    }

    .noUi-connect {
      height: 10px;
      background-color: #FBCE5D !important;
    }

    .noUi-handle {
      border: 1px solid #D8D8D8 !important;
      background: white !important;
      box-shadow: none !important;
    }

    /* Calculator */

    .is-align-center {
      text-align: center;
    }

    .caption.is-secondary {
      color: rgba(0, 0, 0, 0.6);
    }

    /* Modal */
    .modal--content {
      border: 2px solid #000;
      border-radius: 0;
    }
  }

  // =============================================
  // End of custom styles
  // =============================================

  .base-loan {
    &-title {
      text-align: center;
      margin-bottom: 20px;

      .title-1 {
        margin-bottom: 10px;
      }

      @media (max-width: 640px) {
        padding: 0 20px;
      }
    }

    &-form {
      border: 1px solid #C8C8C8;
      border-radius: 4px;
      background-color: white;
      padding: 50px 40px 40px 40px;

      &-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

        @media (max-width: 640px) {
          flex-direction: column;
          justify-content: center;
        }
      }

      &-info-1 {
        order: 1;
        padding-right: 10px;
        padding-bottom: 30px;

        @media (max-width: 640px) {
          margin: auto;
          text-align: center; // For IE 11
          padding-right: 0;
        }
      }

      &-info-1-block {
        display: inline-block;
      }

      &-info-2 {
        order: 2;
        margin-left: 35px;

        @media (max-width: 640px) {
          margin-left: 10px;
          width: auto;
          order: 3;
          text-align: center; // For IE 11

          > div {
            display: inline-block;
          }
        }
      }

      &-info-3 {
        order: 3;
        text-align: center;

        @media (max-width: 640px) {
          max-width: 100%;
          order: 2;
          text-align: center;
          padding-bottom: 40px;
        }
      }

      &-info-4 {
        order: 4;

        @media (max-width: 640px) {
          text-align: center;
        }
      }

      &-submit {
        text-align: center;
        margin-top: 40px;
      }

      &-login {
        text-align: center;
        margin-top: 40px;
      }

      .body-2 {
        font-size: 13px;
        color: #282828;
        padding-bottom: 2px;
        line-height: 24px;
        margin-right: 5px;
        text-align: left; // For IE 11
        font-family: Arial, serif;
      }

      .loan-calculator--sign {
        display: inline-block;
        margin: 0 17px 0 7px;

        @media (max-width: 640px) {
          margin-left: 6px;
          margin-right: 6px;
        }
      }

      &-slider-block {
        padding-bottom: 25px;
      }

      &-slider {
        padding: 10px 0;
      }

      &-slider-caption {
        display: flex;
        justify-content: space-between;
      }

      .slider--min-value-caption, .slider--max-value-caption {
        font-size: 13px;
        color: #282828;
        font-family: Arial, serif;
      }

      &-slider-rub {
        font-family: OfficinaSerifC-Book, serif;
        font-size: 14px;
      }

      .slider--title, .slider--value-caption {
        font-weight: 400;
        font-size: 15px;
        color: #787878;
        line-height: 22px;
      }

      .title-4 {
        font-weight: 400;
        font-size: 21px;
        color: #282828;
        line-height: 22px;
        text-align: left; // For IE 11
      }

      .loan-calculator--rate-warning {
        font-size: 17px;
        color: #8B8B8B;
        line-height: 18px;
      }

      @media (max-width: 910px) {
        display: block;
        margin: auto;
        margin-top: 10px;
      }

      @media (max-width: 640px) {
        width: 100%;
        height: auto;
        border: none;
        border-radius: 0;
        border-top: 1px solid #C8C8C8;
        border-bottom: 1px solid #C8C8C8;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  .base-loan-disclaimer {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #787878;
  }

  .l-footer {
    padding-bottom: 40px;
  }

  .l-about {
    text-align: left;
    &-text {
      font-family: Arial, sans-serif;
      font-size: 13px;
      color: #787878;
      margin-bottom: 20px;
      line-height: 1.188rem;
    }

    &-phone {
      font-family: Arial, sans-serif;
      font-size: 13px;
      color: #787878;
      line-height: 1.188rem;
    }
  }

  // Common styles

  .title-1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 40px;
  }

  .subtitle-2 {
    color: #282828;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;

    &.subtitle-2-dark {
      color: #1D1D1D;
    }
  }

  .title-1,
  .title-2 {
    display: inline-block;
  }

  #base-loan .btn {
    display: block;
    width: initial;
    margin: auto;
    padding: 0 45px;
  }

  #base-loan .link {
    font-size: 20px;
  }

  .no-wrap {
    white-space: nowrap
  }

  .expanded-info {
    margin: 30px 10px 0 10px;
    text-align: center;
  }

  .expanded-info__caption {
    //color: #8B8B8B;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
    display: inline;
    border-bottom: 1px dashed #8B8B8B;
  }

  .expanded-info__content {
    padding-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}
