html, body {
  min-height: 100%;
  height: auto;
}

body {
  margin: 20px !important;
}

.example-title {
  border-left-width: 10px;
  color: white;
  padding: 5px;
  background: lightsalmon;
}

.example-body {
  padding: 10px;
}

.example-section {
  border: 1px solid lightsalmon;
  margin-bottom: 30px;
}

.example-back {
  margin-bottom: 20px;
  display: inline-block;
}

.theme-selector {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
