<p>
    <strong>ДОГОВОР ПРИНЯТИЯ НА ОБСЛУЖИВАНИЕ</strong>
</p>
<p>
    _______________________________ , именуемый в дальнейшем "Клиент", с одной стороны, и ООО МФО «СМСФИНАНС» в лице Генерального директора Артемова Александра
    Викторовича, действующего на основании Устава, именуемый в дальнейшем "МФО", с другой стороны, заключили настоящий договор (далее – Договор) о
    нижеследующем:
</p>
<p>
    <strong>1. ПРЕДМЕТ ДОГОВОРА</strong>
</p>
<p>
    1.1. МФО посредством безотзывной оферты, на безвозмездной основе, предоставляет Клиенту безусловное право на подачу заявок на заключение договора
    микрозайма (далее – договор микрозайма) с МФО, а МФО в свою очередь обязуется рассмотреть поданные заявки Клиентом для дальнейшего принятия решения о
    заключении с Клиентом договора займа.
</p>
<p>
    1.2. Клиент вправе подавать заявки на заключение договора займа в течение всего срока действия Договора в порядке и на условиях, предусмотренных настоящим
    Договором, Правилами предоставления и обслуживания микрозаймов, утвержденными МФО, а также иными правилами и условиями, установленными МФО и связанными с
    процессом заключения договора микрозайма.
</p>
<p>
    1.3. Клиент подтверждает, что имеет намерение заключить договор микрозайма с МФО и соответствует следующим условиям:
</p>
<p>
    является гражданином Российской Федерации;
</p>
<p>
    достиг возраста 18 лет;
</p>
<p>
    имеет постоянную регистрация по месту жительства на территории Российской Федерации,
</p>
<p>
    является полностью дееспособным, неограниченным в правах лицом;
</p>
<p>
    действует от своего имени и в своём интересе.
</p>
<p>
    1.4. Порядок подачи заявления на заключение договора микрозайма определены в Правилах предоставления и обслуживания микрозайма МФО.
</p>
<p>
    1.5. Договор считается акцептованным Клиентом (т.е. заключенным) с момента получения первого займа.
</p>
<p>
    <strong>2. ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong>
</p>
<p>
    2.1. Клиент имеет право:
</p>
<p>
    2.1.1. Подавать в соответствии с Правилами предоставления и обслуживания микрозаймов неограниченное число заявок на заключение договора микрозайма на
    протяжении всего срока действия настоящего Договора.
</p>
<p>
    2.1.2. Получить защищенный доступ в закрытый раздел сайта МФО (личный кабинет Клиента), содержащий подробную информацию о заявлениях на получение
    микрозаймов, об открытых займах и размере задолженности.
</p>
<p>
    2.1.3. Получать консультации по всем возникающим в процессе подачи заявления на получение микрозайма или при его обслуживании вопросам по телефону 8 (800)
    333-27-57 в круглосуточном режиме.
</p>
<p>
    2.1.4. Принимать участие в бонусных акциях, проводимых МФО, в соответствии с правилами акции.
</p>
<p>
    2.1.5. Пользоваться иными сервисами, предоставляемыми МФО своим клиентам.
</p>
<p>
    2.1.6. Расторгнуть в одностороннем порядке настоящий Договор, уведомив об этом МФО. При этом расторжение настоящего Договора не освобождает Клиента от
    исполнения ранее принятых на себя обязательств как по настоящему Договору, так и по другим договорам, заключённых между Клиентом и МФО.
</p>
<p>
    2.2. Клиент обязан:
</p>
<p>
    2.2.1. Подавать заявки на заключение договора микрозайма в соответствии с Правилами предоставления и обслуживания микрозаймов, утвержденных МФО, а также
    иными правилами и условиями, установленными МФО для заключения договора микрозайма.
</p>
<p>
    2.2.2. Соблюдать положения Правил предоставления и обслуживания микрозаймов, утвержденных МФО, а также иных правил и условий, установленные МФО для
    заключения договора микрозайма, действующими на момент направления МФО заявки на заключение договора микрозайма.
</p>
<p>
    2.2.3. Предоставлять МФО достоверные свои паспортные и иные данные, необходимые для заключения договора микрозайма.
</p>
<p>
    2.2.4. В случае утраты/хищения паспорта Российской Федерации Клиента, в незамедлительном порядке должен уведомить о данных фактах МФО.
</p>
<p>
    2.2.5. В случае замены паспорта на новый, независимо от обстоятельств, послужившими замене паспорта Российской Федерации Клиента, уведомить об этом МФО и
    предоставить новые паспортные данные.
</p>
<p>
    2.2.6. Уведомлять МФО о смене места регистрации, утрате или смене паспорта.
</p>
<p>
    2.2.7. Не передавать третьим лицам информацию и/или данные, которые дают возможность таким третьим лицам от имени Клиента подавать заявки на заключение
    договоров микрозаймов и/или заключить договор микрозайма с МФО от имени Клиента.
</p>
<p>
    2.3. МФО обязан:
</p>
<p>
    2.3.1. Рассматривать все поступившие от Клиента заявки на заключение договора микрозайма, с момента заключения настоящего Договора.
</p>
<p>
    2.3.2. Сообщать Клиенту, посредством СМС-уведомления/e-mail сообщения/уведомления в Личном кабинете Клиента, расположенном на сайте МФО www.smsfinance.ru,
    о решении заключить/отказать в заключении договора микрозайма.
</p>
<p>
    2.3.3. Обеспечивать бесперебойный доступ к личному кабинету Клиента на сайте МФО.
</p>
<p>
    2.3.4. Обеспечивать консультационную поддержку Клиенту.
</p>
<p>
    2.4. МФО вправе:
</p>
<p>
    2.4.1. Мотивировано отказать Клиенту в заключении договора микрозайма.
</p>
<p>
    2.4.2. В случае отсутствия связи с Клиентом в течение периода времени, превышающего 6 месяцев, расторгнуть в одностороннем порядке настоящий Договор,
    уведомив об этом Клиента любым доступным способом. При этом расторжение настоящего договора не освобождает МФО от исполнения обязательств по настоящему
    Договору, так и по другим договорам, заключённых между МФО и Клиентом.
</p>
<p>
    <strong>3. ОТВЕТСТВЕННОСТЬ СТОРОН</strong>
</p>
<p>
    3.1. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по настоящему договору, несет ответственность в соответствии с
    законодательством Российской Федерации.
</p>
<p>
    3.2. МФО не несет ответственность за последствия, наступившие в следствии передачи Клиентом третьим лицам информации и/или данных, которые дают возможность
    таким третьим лицам от имени Клиента подавать заявки на заключение договоров микрозаймов и/или заключить договор микрозайма с МФО от имени Клиента.
</p>
<p>
    <strong>4. СРОК ДЕЙСТВИЯ ДОГОВОРА</strong>
</p>
<p>
    4.1. Договор действует в течение 365 календарных дней с момента его акцептования Клиентом.
</p>
<p>
    4.2. Срок действия договора автоматически продлевается на тот же срок, указанный в п. 4.1. Договора, если одна из сторон не заявит о расторжении данного
    Договора за 10 календарных дней до момента окончания срока действия Договора.
</p>
<p>
    4.3. Договор может быть досрочно расторгнут по соглашению сторон.
</p>
<p>
    <strong>5. КОНФИДЕНЦИАЛЬНОСТЬ</strong>
</p>
<p>
    5.1. Условия настоящего Договора, дополнительных соглашений к нему и иная полученная в соответствии с Договором информация конфиденциальны и не подлежат
    разглашению.
</p>
<p>
    <strong>6. РАЗРЕШЕНИЕ СПОРОВ</strong>
</p>
<p>
    6.1. Все споры и разногласия, которые могут возникнуть между сторонами по вопросам, не нашедшим своего разрешения в тексте данного договора, будут
    разрешаться путем переговоров на основе действующего законодательства Российской Федерации.
</p>
<p>
    6.2. При невозможности урегулирования в процессе переговоров спорных вопросов споры разрешаются в суде в порядке, установленном действующим
    законодательством Российской Федерации.
</p>
<p>
    <strong>7. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ И ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong>
</p>
<p>
    7.3. Все уведомления и сообщения от могут быть направлены как почтовыми отправлениями, так и посредством электронных каналов/телекоммуникационных каналов
    (e-mail сообщения/уведомление в Личном кабинете Клиента/смс-сообщения) связи.
</p>
<p>
    7.4. Во всем остальном, что не предусмотрено настоящим договором, стороны руководствуются действующим законодательством Российской Федерации, Правилами
    предоставления и обслуживания микрозаймов, утвержденных МФО, а также иными правилами и условиями, установленными МФО для заключения договора микрозайма.
</p>
