@import '../../../helpers';
@import 'vars';

$color-border: #B2B2B2;
$border: solid $color-border 2px;

.btn {
  border-radius: 99px;
  font-weight: 600;
  color: $g-color-text-primary;
  cursor: pointer;
  outline: none;
  transition: all $g-transition-control-time linear;

  &:disabled {
    background-color: transparent;
    border: $border;
    opacity: $g-opacity-disabled-control;
    cursor: default;
    pointer-events: none;
  }

  &.is-primary {
    background-color: $g-color-accent;
    border: solid $g-color-accent 2px;

    &:hover {
      background-color: shade($g-color-accent, $g-shade-hover);
      border: solid shade($g-color-accent, $g-shade-hover) 2px;
    }

    &:active {
      background-color: shade($g-color-accent, $g-shade-active);
      border: solid shade($g-color-accent, $g-shade-active) 2px;
    }

    &:disabled {
      background-color: transparent;
      border: $border;
    }

    &.is-pending {
      $color: #FFEF95;
      background-color: $color;
      border: solid $color 2px;
    }
  }

  &.is-secondary {
    background-color: transparent;
    border: $border;

    &:hover {
      border-color: shade($color-border, 15);
    }

    &:active {
      border-color: shade($color-border, 30);
    }

    &:disabled {
      border: $border;
    }

    &.is-pending {
      border: solid #D9D9D9 2px;
    }
  }

  &.is-sm {
    font-size: 16px;
    min-height: 40px;
    padding: 10px 20px;

    .btn--pending-text {
      margin-left: 5px;
    }
  }

  &.is-md {
    font-size: 20px;
    min-height: 60px;
    padding: 10px 30px;

    .btn--pending-text {
      margin-left: 10px;
      padding-top: 5px;
    }
  }

  &.is-max-width {
    width: 100%;
  }

  &.is-pending {
    padding-top: 0;
    padding-bottom: 0;
    cursor: default;
    pointer-events: none;
  }
}

.btn--pending-text {
  display: inline-block;
  vertical-align: top;
}

.btn--pending-icon {
  vertical-align: text-bottom;
}
