@import '../../../vars';

.calc-placeholder {
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.calc-placeholder--rect0 {
  height: 15px;
  margin-top: 5px;
}

.calc-placeholder--rect1 {
  float: left;
  width: 140px;
  height: 10px;
  background-color: #f5f5f7;
}

.calc-placeholder--rect2 {
  float: right;
  width: 60px;
  height: 10px;
  background-color: #f5f5f7;

  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.calc-placeholder--rect3 {
  margin-top: 15px;
  height: 10px;
  background-color: #f5f5f7;
}

.calc-placeholder--rect4 {
  @extend .calc-placeholder--rect0;
  margin-top: 66px;
}

.calc-placeholder--rect5 {
  margin-top: 66px;
  height: 20px;
  background-color: #f5f5f7;
}

.calc-placeholder--rect6 {
  background-color: #f5f5f7;
  height: 6px;
  margin: 40px 5% 0 5%;
}

.calc-placeholder--rect7 {
  background-color: #f5f5f7;
  height: 60px;
  width: 220px;
  margin: 20px auto 0 auto;
  border-radius: 99px;
}

.calc-placeholder--loader {
  position: absolute;
  top: 150px;
  text-align: center;
  width: 100%;
}

.calc-placeholder--loader-icon {
  display: inline-block;
  margin-right: 11px;
}
