@import 'vars';

$color-default: #E3E7EB;

@mixin border($color) {
  padding-left: 20px;
  border-left: 5px solid $color;
}

.card {
  border-radius: 6px;
  box-shadow: $g-shadow-box;
  background: white;
  border: 1px solid $color-default;
  padding: 20px 24px; // Эмуляция border 5px, чтобы контент был на одной линии

  &.is-border-accent {
    border: 2px solid $g-color-accent-dark;
  }

  &.is-border-success {
    @include border($g-color-success);
  }

  &.is-border-accentLeft {
    @include border($g-color-preapproved-accent);
  }

  &.is-border-danger {
    @include border($g-color-danger);
  }

  &.is-border-neutral {
    @include border($g-color-neutral);
  }

  &.is-bg-neutral {
    background-color: rgb(250, 250, 251);
  }

  &.is-simple {
    box-shadow: none;
  }
}
