@import 'vars';

.checkbox--label-container {
  display: inline-block;

  &:hover {
    .checkbox--control {
      border-color: $g-color-border-hover;
    }
  }
}

.checkbox--label {
  color: $g-color-text-primary;
  cursor: pointer;
  font-size: 16px;

}

.checkbox--control {
  border: 2px solid $g-color-border;
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  width: 30px;
  transition: border-color 150ms ease;

  &:hover {
    border-color: $g-color-border-hover;
  }
}

.checkbox {
  &.is-checked {
    .checkbox--control {
      background-color: $g-color-accent;
      border-color: $g-color-accent;
    }

    .checkbox--check {
      visibility: visible;
      transform: scale(1);
    }
  }

  &.is-disabled {
    opacity: $g-opacity-disabled-control;
    pointer-events: none;

    .checkbox--control {
      background-color: $g-color-bg-disabled-control;
      border-color: $g-color-border;
    }
  }

  &.is-checked.is-disabled {
    .checkbox--control {
      background-color: $g-color-accent;
      border-color: $g-color-accent;
    }
  }
}

.checkbox--input {
  display: none;
}

.checkbox--check {
  background: url('themes/default/icons/check-icon.svg') center no-repeat;
  display: inline-block;
  height: 14px;
  margin-left: 3px;
  margin-top: 6px;
  transition: $g-transition-control-time linear;
  width: 20px;
  visibility: hidden;
  transform: scale(0.8);
}
