@import 'vars';

.data-field {
}

.data-field--label {
  font-size: $g-control-label-font-size;
  color: $g-control-label-color;
  margin-bottom: 1px;
}

.data-field--value {
  font-size: $g-control-value-font-size;
  color: $g-control-value-color;
  line-height: $g-control-value-line-height;
}

.data-field--empty-value {
  font-size: $g-control-value-font-size;
  color: $g-color-text-secondary;
  line-height: $g-control-value-line-height;
}
