@import 'vars';

$font-size: 18px;
$border-radius: 4px;

.dropdown {
  border-radius: $border-radius;
  position: relative;
  z-index: $g-zIndex-dropdown;
  background-color: white;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: $g-shadow-dropdown;
}

.dropdown--item {
  font-size: $font-size;
  line-height: 24px;
  color: $g-color-text-primary;
  border-bottom: 1px solid $g-color-border;
  padding: 17px 9px;
  cursor: pointer;
  transition: background-color $g-transition-control-time linear;
  background-color: white;
  min-height: 60px;

  &.is-active {
    background-color: $g-item-bg-hover;
  }

  &:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.dropdown--empty-caption {
  color: $g-color-text-secondary;
  font-size: $font-size;
  padding: 17px 9px;
}
