@import 'vars';

.icon-button {
  outline: none;
  border: none;
  background-color: transparent;
  opacity: 0.75;
  padding: 0;
  cursor: pointer;
  transition: all $g-transition-control-time linear;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: $g-opacity-disabled-control;
    cursor: default;
    pointer-events: none;
  }

  &.is-sm {
    width: 20px;
    height: 20px;
  }

  &.is-md {
    width: 36px;
    height: 36px;
  }

  &.is-lg {
    width: 56px;
    height: 56px;
  }
}
