@import '../../../helpers';
@import 'vars';

.link {
  color: $g-color-text-link !important;
  text-decoration: none;
  cursor: pointer;
  transition: all $g-transition-control-time linear;

  &:hover {
    color: shade($g-color-text-link, $g-shade-hover) !important;
  }

  &:active {
    color: shade($g-color-text-link, $g-shade-active) !important;
  }

  &.is-disabled {
    cursor: default;
    pointer-events: none;
    opacity: $g-opacity-disabled-control;
  }
}
