@import '../../../vars';
@import 'vars';

.menu {
  position: relative;
  height: 65px;
}

.menu--caption {
  text-align: right;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.menu--caption-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
}

.menu--caption-text {
  display: none;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 23px;
}

.menu--caret-icon {
  display: none;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 22px;
}

.menu--caption-text,
.menu--caret-icon {
  @media (min-width: $breakpoint-sm) {
    display: inline-block;
  }
}

.menu--dropdown {
  z-index: $g-zIndex-menu-dropdown;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 60px 0;
  width: 100%;
  height: 100%;
  text-align: left;

  @media (min-width: $breakpoint-sm) {
    position: absolute;
    top: 66px;
    border-radius: 4px;
    box-shadow: $g-shadow-dropdown;
    padding: 10px 0;
    width: 200px;
    height: auto;
    left: 0;
  }
}

.menu--dropdown-close {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;

  @media (min-width: $breakpoint-sm) {
    display: none;
  }
}

.menu--dropdown-item {
  height: 44px;
  cursor: pointer;
  padding: 0 20px;

  &:hover {
    background: $g-item-bg-hover;
  }
}

.menu--dropdown-item-icon {
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
}

.menu--dropdown-item-caption {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
