@import '../../../../../node_modules/bootstrap/scss/mixins/_clearfix';
@import 'vars';

.modal--content {
  bottom: initial;
  padding: 60px 20px 20px 20px;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  right: initial;
  max-width: 760px;
  background: white;
  outline: none;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 6px;
  border: 2px solid $g-color-accent;
  box-shadow: $g-shadow-box;

  @media (max-width: 640px) {
    width: 100%;
    border: none;
    box-shadow: none;
    transform: translate(-50%, 0);
    top: 0;
  }

  &.is-top {
    transform: translate(-50%, 0);
    top: initial;
  }
}

.modal--overlay {
  z-index: $g-zIndex-modal;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // Add a white backdrop that expands beyond top and bottom of the viewport.
  // This prevents a part of the page from being visible when scrolling on
  // mobile devices where re-rendering lags behind.
  &:before {
    content: '';
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    bottom: -200px;
    background-color: rgba(255, 255, 255, 0.97);

    @media (max-width: 640px) {
      background-color: white;
    }
  }
}

.modal--close-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal--header {
  @include clearfix();
}
