.navbar {
  background-color: white;
  height: 67px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  border-bottom: 1px #E3E7EB solid;

  &.is-transparent {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
  }
}