@import 'vars';

.radio-button--label-container {
  display: inline-block;

  &:hover {
    .radio-button--control {
      border-color: $g-color-border-hover;
    }
  }
}

.radio-button {
  &.is-checked {
    .radio-button--control {
      background-color: $g-color-accent;
      border-color: $g-color-accent;
    }

    .radio-button--check {
      visibility: visible;
      transform: scale(1);
    }
  }

  &.is-disabled {
    opacity: $g-opacity-disabled-control;
    pointer-events: none;

    .radio-button--control {
      border-color: $g-color-border;
      background-color: $g-color-bg-disabled-control;
    }
  }

  &.is-checked.is-disabled {
    .radio-button--control {
      background-color: $g-color-accent;
      border-color: $g-color-accent;
    }
  }

  &.is-inline {
    display: inline-block;
    margin-right: 40px;

    &:last-child {
      margin-left: 0;
    }
  }
}

.radio-button--input {
  display: none;
}

.radio-button--label {
  cursor: pointer;
  font-size: 16px;
  color: $g-color-text-primary;
  display: flex;
}

.radio-button--control {
  display: inline-block;
  background-color: white;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  border: 2px solid $g-color-border;
  margin-right: 10px;
  transition: border-color 150ms ease;
}

.radio-button--caption {
  margin-top: 8px;
}

.radio-button--check {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-left: 7px;
  margin-top: 7px;
  transform: scale(0.7);
  transition: all $g-transition-control-time linear;
  visibility: hidden;
  width: 12px;
}

.radio-button-group {
  .radio-button {
    margin-bottom: 20px;

    &:last-child,
    &.is-inline {
      margin-bottom: 0;
    }
  }
}
