@import '../../node_modules/nouislider/distribute/nouislider.css';
@import '../../../_vars.scss';
@import 'vars';

$handle-size: 30px;
$track-height: 12px;
$track-border-radius: 6px;

// Overrides
.noUi-target {
  height: $track-height;
  padding: 0;
  background-color: #EAEAEA;
  border-radius: $track-border-radius;
  border: none;
  box-shadow: none;
  margin-bottom: 12px;
}

.noUi-horizontal .noUi-handle {
  height: $handle-size;
  width: $handle-size;
  top: 0;
  left: 0;
}

.noUi-handle {
  height: $handle-size;
  width: $handle-size;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px;
  margin-left: -15px;
  transition: ease 0.2s;
  transition-property: box-shadow;
  border: 1px solid #D8D8D8;
  background: linear-gradient(to bottom, white, #F5F5F5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  outline: none;

  &:hover {
    border: 1px solid #D8D8D8;
  }

  &:active {
    box-shadow: none;
  }

  &:before,
  &:after {
    display: none;
  }
}

.noUi-connects {
  border-radius: 6px;
}

.noUi-connect {
  height: 12px;
  background-color: $g-color-accent;
  box-shadow: none;
  border-bottom-left-radius: $track-border-radius;
  border-top-left-radius: $track-border-radius;
}

// Slider styles
.slider {
  position: relative;

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.slider--info-top-line {
  padding-bottom: 35px;
}

.slider--info-bottom-line {
  position: relative;
  padding-top: 24px;
  margin-top: 20px;
  display: none;

  @media (min-width: $breakpoint-sm) {
    display: block;
  }
}

.slider--title {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: $g-color-text-primary;
}

.slider--value-caption {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: $g-color-text-primary;
}

.slider--min-value-caption {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.slider--max-value-caption {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}
