@import 'vars';

.text-field {
  position: relative;

  &.is-focused {
    .text-field--control {
      border-color: $g-color-border-active;
    }
  }

  &.is-disabled {
    opacity: $g-opacity-disabled-control;
    pointer-events: none;

    .text-field--control {
      background-color: $g-color-bg-disabled-control;
      cursor: default;
    }
  }

  &.is-focused,
  &.is-filled {
    .text-field--label {
      top: 7px;
      font-size: $g-control-label-font-size;
    }
    
  }

  &.is-filled .text-field--hint {
    display: none;
    &.is-always {
      display: block;
    }
  }

  &.is-error {
    .text-field--control {
      border-color: $g-color-border-danger;
    }

    .text-field--hint {
      display: none;
    }

    .text-field--control:after {
      font-size: 14px;
      font-weight: 600;
      top: 19px;
      right: 10px;
      position: absolute;
      content: '!';
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      background-color: #FFEAEA;
      border: 1px solid rgba(0, 0, 0, 0.06);
      text-align: center;
      color: $g-color-text-danger;
      z-index: $g-zIndex-control-error-sign;
    }
  }

  &.is-no-error-sign {
    .text-field--control:after {
      display: none;
    }
  }
}

.text-field--control {
  width: 100%;
  min-height: 60px;
  border-radius: 4px;
  border: 1px solid $g-color-border;
  background-color: white;
  cursor: text;
  transition: border-color 150ms ease;
  line-height: 0;
  font-size: 1px;

  &:hover {
    border-color: $g-color-border-hover;
  }
}

.text-field--input {
  font-size: $g-control-value-font-size;
  color: $g-control-value-color;
  line-height: $g-control-value-line-height;
  height: 58px;
  padding: 29px 40px 7px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  width: 100%;
}

.text-field--textarea {
  font-size: $g-control-value-font-size;
  color: $g-control-value-color;
  line-height: $g-control-value-line-height;
  border: none;
  outline: none;
  width: 100%;
  padding: 28px 40px 6px 10px;
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
  resize: none;
  vertical-align: middle;
  min-height: 58px;
}

.text-field--label {
  color: $g-control-label-color;
  position: absolute;
  top: 18px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 24px;
  transition: all 150ms ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  will-change: transform;
  width: 94%;
  user-select: none;
}

.text-field--hint {
  margin-top: 4px;
  color: $g-color-neutral;
  font-size: 14px;
  line-height: 16px;
}

.text-field--optional-caption {
  display: inline-block;
  font-size: 14px;
  margin-left: 6px;
}

.text-field--error-message {
  color: $g-color-text-danger;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
}

.text-field--dropdown-container {
  position: relative;
}

.text-field--dropdown {
  position: absolute;
  width: 100%;
  top: 0;
}
