@import '../../../vars';
@import './vars';

$dims: (
    (sm, $breakpoint-sm),
    (md, $breakpoint-md)
);

@mixin text($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
  color: $g-color-text-primary;
}

@mixin title($size, $line-height) {
  font-weight: 600;
  text-transform: inherit;

  @include text($size, $line-height);
}

// Title types

$titles: (
    (title-1, 42px, 46px),
    (title-2, 34px, 38px),
    (title-3, 24px, 28px),
    (title-4, 18px, 24px),
    (title-5, 16px, 24px),
);

@each $name, $size, $line-height in $titles {
  .#{$name} {
    @include title($size, $line-height);
  }
}

@each $name, $size, $line-height in $titles {
  @each $dim-name, $dim-size in $dims {
    @media (min-width: $dim-size) {
      .#{$name}-#{$dim-name} {
        @include title($size, $line-height);
      }
    }
  }
}

.title-5 {
  text-transform: uppercase;
}

// Texts types

$texts: (
    (subtitle, 20px, 24px),
    (body-1, 16px, 24px),
    (body-2, 14px, 18px),
    (caption, 12px, 16px),
);

@each $name, $size, $line-height in $texts {
  .#{$name} {
    @include text($size, $line-height);
  }
}

@each $name, $size, $line-height in $texts {
  @each $dim-name, $dim-size in $dims {
    @media (min-width: $dim-size) {
      .#{$name}-#{$dim-name} {
        @include text($size, $line-height);
      }
    }
  }
}

// Modifiers for all types of typography

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.subtitle,
.body-1,
.body-2,
.caption {
  &.is-secondary {
    color: $g-color-text-secondary;
  }

  &.is-danger {
    color: $g-color-text-danger;
  }

  &.is-inverse {
    color: $g-color-text-primary-reverse;
  }

  &.is-secondary-inverse {
    color: $g-color-text-secondary-reverse;
  }

  &.is-no-wrap {
    white-space: nowrap;
  }

  &.is-inline {
    display: inline;
  }


  @each $dir in left, right, center {
    &.is-align-#{$dir} {
      text-align: $dir;
    }
  }

  @each $dir in left, right, center {
    @each $dim-name, $dim-val in $dims {
      @media (min-width: $dim-val) {
        &.is-align-#{$dir}-#{$dim-name} {
          text-align: $dir;
        }
      }
    }
  }

  &.is-capitalize {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

// Modifiers only for titles

.title-1,
.title-2,
.title-3,
.title-4,
.title-5 {
  &.is-regular {
    font-weight: 400;
  }
}

// Modifiers only for text

.subtitle,
.body-1,
.body-2,
.caption {
  &.is-bold {
    font-weight: 600;
  }

  &.is-inline-block {
    display: inline-block;
  }
}
