@import 'vars';

.alert {
  padding: 20px;
  border-radius: 3px;
  position: relative;

  &.is-success {
    background-color: $g-color-bg-success;
  }

  &.is-warning {
    background: $g-color-bg-warning;
  }

  &.is-danger {
    background: $g-color-bg-danger;
  }

  &.is-fixed {
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    .alert--body {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }
  }

  &.is-closable {
    padding-right: 50px;
  }
}

.alert--body {
  display: flex;
}

.alert--icon {
  vertical-align: top;
  margin-right: 20px;
  height: 36px;
}

.alert--content {
  vertical-align: top;
  margin-top: 10px;
}

.alert--close-btn {
  position: absolute;
  top: 18px;
  right: 20px;
}
