@import 'vars';

.bullet-block {
  display: flex;
}

.bullet {
  flex: 0 0 6px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 10px;

  &.green {
    background-color: $g-color-preapproved-success;
  }

  &.accent {
    background-color: $g-color-preapproved-accent;
  }

  &.big {
    width: 10px;
    height: 10px;
    flex: 0 0 10px;
    margin-top: 7px;
  }
}