@import '../../../helpers';
@import 'vars';

$button-color: #1f2229;
$button-hover-color: #626469;
$button-disabled-color: #626469;

.btn {
  font-family: Tele2Serif, serif;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  padding: 17px 43px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  text-align: center;
  min-width: 125px;
  border: 2px solid $button-color;
  transition: color .2s linear, background-color .2s linear, border-color .2s linear;

  &:disabled {
    background-color: transparent;
    opacity: $g-opacity-disabled-control;
    cursor: default;
    pointer-events: none;
  }

  &.is-primary {
    background-color: $button-color;
    color: white;

    &:disabled {
      background-color: transparent;
      border-color: $button-disabled-color;
      color: $button-disabled-color;
    }

    &:hover {
      background-color: $button-hover-color;
      border-color: $button-hover-color;
    }
  }

  &.is-secondary {
    background-color: transparent;
    color: $button-color;

    &:hover {
      border-color: $button-hover-color;
      color: $button-hover-color;
    }
  }

  &.is-sm {
    min-height: 40px;
    padding: 7px 18px;
    border-radius: 20px;

    .btn--pending-text {
      margin-left: 5px;
    }
  }

  &.is-md {
    min-height: 60px;

    .btn--pending-text {
      margin-left: 10px;
      padding-top: 5px;
    }
  }

  &.is-max-width {
    width: 100%;
  }

  &.is-pending {
    padding-top: 0;
    padding-bottom: 0;
    cursor: default;
    pointer-events: none;
  }
}

.btn--pending-text {
  display: inline-block;
  vertical-align: top;
}

.btn--pending-icon {
  vertical-align: text-bottom;
}
