@import 'vars';

$font-size: 18px;
$border-radius: 4px;

.dropdown {
  position: relative;
  z-index: $g-zIndex-dropdown;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border: 2px solid $g-color-border-hover;
  border-top: none;
}

.dropdown--item {
  font-size: $font-size;
  line-height: 24px;
  color: $g-color-text-primary;
  padding: 17px 20px;
  cursor: pointer;
  min-height: 60px;

  &.is-active {
    background-color: $g-color-accent;
  }
}

.dropdown--empty-caption {
  color: $g-color-text-secondary;
  font-size: $font-size;
  padding: 17px 9px;
}
