.expansion-panel {
}

.expansion-panel--caption {

}

.expansion-panel--handle {
  cursor: pointer;
  display: inline-block;
}

.expansion-panel--caption-text {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline;
  line-height: 24px;
  vertical-align: top;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  padding-bottom: 2px;
}

.expansion-panel--caret {
  vertical-align: top;
  margin-top: 2px;
  margin-left: 10px;
  display: inline-block;
}

.expansion-panel--content {
  padding-top: 20px;
}