.footer-container {
  box-sizing: border-box;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.footer-container--content {
  display: table-row;
  min-height: 100%;
}

.footer-container--footer {
  display: table-row;
  height: 1px;

  // Workaround for IE bug: two columns with `max-width: 100%` cause horizontal scroll.
  @media (max-width: 768px) {
    .row {
      display: block;
    }
  }
}
