@import '../../../helpers';
@import 'vars';

$color-hover: brighten($g-color-text-link, 40);

.link {
  text-decoration: none;
  color: $g-color-text-link !important;
  cursor: pointer;
  border-bottom: 1px solid brighten($g-color-text-link, 60);

  &:hover {
    color: $color-hover;
    border-bottom: 1px solid brighten($color-hover, 60);
    text-decoration: none;
  }

  &:active {
    color: shade($color-hover, $g-shade-active);
    border-bottom: 1px solid brighten($color-hover, 60);
  }

  &.is-disabled {
    cursor: default;
    pointer-events: none;
    opacity: $g-opacity-disabled-control;
  }
}
