@import 'vars';

.panel {
  padding: 40px;

  &.is-success {
    background-color: shade($g-color-success, 15);
  }

  &.is-danger {
    background-color: $g-color-danger;
  }

  &.is-neutral {
    background-color: $g-color-neutral;
  }
}