@font-face {
  font-family: 'Circe';
  src: url('themes/default/fonts/Circe.eot');
  src: url('themes/default/fonts/Circe.eot?#iefix') format('embedded-opentype'),
       url('themes/default/fonts/Circe.woff2') format('woff2'),
       url('themes/default/fonts/Circe.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('themes/default/fonts/CirceBold.eot');
  src: url('themes/default/fonts/CirceBold.eot?#iefix') format('embedded-opentype'),
       url('themes/default/fonts/CirceBold.woff2') format('woff2'),
       url('themes/default/fonts/CirceBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
