@mixin icon {
  display: inline-block;
}

// 20px, 36px, 56px

$icon-names-20-36-56: (arrow-left, arrow-right, close);

@each $icon-name in $icon-names-20-36-56 {
  @each $size-name, $size in (sm, 20px), (md, 36px), (lg, 56px) {
    .#{$icon-name}-icon-#{$size-name} {
      @include icon();

      background: url('themes/default/icons/#{$icon-name}-icon-#{$size-name}.svg') center no-repeat;
      width: $size;
      height: $size;
    }
  }
}

// Lispy ^__^
$icons: (
    (36px, (success, warning, danger, rouble, time, percentage, like, like-outline)),
    (200px, (get-money, like-big)),
    (100px, (smile-glad, smile-sad, smile-neutral, smile-warning, envelope, smile-sad-transparent, smile-idea)),
    (20px, (exit, caret-up, caret-down, ruble, wallet, hamburger)),
    (27px, (person, complete, lock))
);

@each $icon-size, $icon-names in $icons {
  @each $name in $icon-names {
    .#{$name}-icon {
      @include icon();

      background: url('themes/default/icons/#{$name}-icon.svg') center no-repeat;
      width: $icon-size;
      height: $icon-size;
    }
  }
}

.credit-rating-icon {
  @include icon();

  background: url('themes/tele2/icons/credit-rating-icon.svg') center no-repeat;
  height: 66px;
  width: 80px;

  @media (min-width: 480px) {
    width: 98px;
    height: 80px;
  }
}
// Loaders

.hourglass-icon {
  background: url('themes/default/icons/hourglass.gif') center no-repeat;
  width: 100px;
  height: 100px;
}

@each $bg-color in (primary, secondary) {
  @each $size-name, $size in (sm, 20px), (md, 30px) {
    .spinner-#{$bg-color}-bg-#{$size-name} {
      @include icon();

      background: url('themes/default/icons/spinner-#{$bg-color}-bg-#{$size-name}.gif') center no-repeat;
      width: $size;
      height: $size;
    }
  }
}
