$primary-color: #FFE02C;
$card-shadow: 0 20px 20px rgba(49, 77, 102, 0.08);
$card-shadow-hover: 0 20px 20px rgba(49, 99, 102, 0.13);

$header-font-weight: 600;
$base-font-size: 14px;

._bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

._logo {
  background-image: url('./assets/icons/finspin-logo-md.svg');
  @extend ._bg;
}

.bg-1 {
  position: relative;
  background: linear-gradient(135deg, #F5F5F7, #E3E7EB);

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 240px;
    width: 100%;
    background: linear-gradient(to right bottom, transparent 50%, white 50%);

    @media (max-width: 640px) {
      height: 50px;
      background-color: white;
    }
  }
}

.bg-2 {
  position: relative;
  background-color: #F5F5F7;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 250px;
    width: 100%;
    background: linear-gradient(to right top, transparent 50%, white 50%);

    @media (max-width: 640px) {
      background: white;
      height: 60px;
    }

  }
}

.bg-3 {
  position: relative;
  background: linear-gradient(135deg, #FCEB6F, #FEDE60);

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 240px;
    width: 100%;
    background: linear-gradient(to right bottom, transparent 50%, white 50%);

    @media (max-width: 640px) {
      background: white;
      height: 40px;
    }
  }
}

.l-content-header {
  padding-left: 20px;
  padding-right: 20px;
}


.landing-navbar-container {
  max-width: 1000px;
  margin: auto;
}

.landing-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 106px;

  @media (max-width: 640px) {
    height: 70px;
  }

  @media (min-width: 641px) {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;

    .landing-mobile-menu-container {
      display: none;
    }
  }

  &--section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/icons/finspin-logo-md.svg');

    width: 150px;
    height: 45px;

    @media (max-width: 640px) {
      width: 134px;
      height: 40px;
    }
  }

  &--delimiter {
    width: 3px;
    height: 25px;
    margin: 5px 20px;
    background-color: #7D7FFF;
    border-radius: 2px;

    @media (max-width: 640px) {
      display: none;
    }
  }

  &--products-menu {
    margin-left: -10px;

    @media (max-width: 640px) {
      display: none;
    }

    .menu--caption-text {
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
    }

    .menu--caret-icon {
      margin-top: 23px;
    }

    .menu--dropdown {
      width: 300px;
      right: initial;
      left: -13px;
    }
  }

  .landing-mobile-menu-container {
    .menu--caption-text,
    .menu--caret-icon {
      display: none;
    }
  }

  &--menu {
    display: inline-block;
    padding: 0 15px;

    @media (max-width: 910px) {
      display: none;
    }
  }

  &--menu-item {
    line-height: 20px;
    padding: 0 10px;
    font-size: 0.938rem;
    color: #1D1D1D;
    transition: ease 0.2s;

    &:hover {
      color: #1D93F4;
    }
  }

  &--login-button {
    transition: ease 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    background-color: transparent !important;
    font-size: 14px !important;

    &:hover {
      border-color: #FFE02C;
      background-color: #FFE02C;
    }

    @media (max-width: 640px) {
      display: none;
    }
  }

  &--login-icon-button {
    @media (min-width: 641px) {
      display: none;
    }
  }
}

.l-content {
  max-width: 1000px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;

  p {
    line-height: 24px;
  }

  color: #1D1D1D;
}

.l-content-pad {
  @extend .l-content;
  padding-left: 20px;
  padding-right: 20px;
}

.l-content-line {
  display: flex;
}

.l-land {
  width: 100%;
  margin: auto;

  .header {
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1005px) {
      .menu-old {
        display: none;
      }
    }

    @media (max-width: 640px) {
      height: 70px;
    }
  }

  .logo {
    @extend ._logo;

    width: 150px;
    height: 45px;

    @media (max-width: 640px) {
      width: 134px;
      height: 40px;
    }
  }

  .menu-old {
    padding: 0 20px;
    display: inline-block;

    .menu-item {
      cursor: pointer;
      display: inline-block;
      line-height: 20px;
      padding: 0 10px;
      font-size: 0.938rem;
      color: #1D1D1D;
      transition: ease 0.2s;

      &:hover {
        color: #1D93F4;
      }
    }

    &.stack {
      padding: 0;

      .menu-item {
        display: block;
        padding: 5px 0;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  .l-base-loan {
    padding: 30px 20px 120px 20px;
    margin: auto;
    max-width: 1000px;
    position: relative;
    z-index: 10;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      padding-bottom: 100px;
    }

    @media (max-width: 640px) {
      padding: 10px 0 60px 0;
    }
  }

  .base-loan {
    &-title {
      margin-bottom: 20px;

      @media (max-width: 640px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 1000px) {
        text-align: center;
        order: 1;
      }

      @media (min-width: 1001px) {
        max-width: 360px;
      }
    }

    &-disclaimer {
      margin: 20px 0 30px 0;

      @media (max-width: 1000px) {
        margin-bottom: 20px;
      }
    }

    &-description {
      max-width: 360px;

      @media (max-width: 640px) {
        display: none;
      }

      @media (max-width: 1000px) {
        max-width: 100%;
        margin: auto;
        margin-top: 30px;
        order: 3;
      }
    }

    &-point-icon {
    }

    &-point-text {
      padding-top: 5px;
      margin-left: 10px;
      line-height: 22px;
    }

    &-points {
      @media (max-width: 1000px) {
        display: flex;
      }
      @media (max-width: 768px) {
        display: block;
      }
    }

    &-point {
      margin-right: 15px;
      margin-bottom: 16px;
      min-width: 180px;
      display: flex;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 1000px) {
        width: 33.3%;
      }

      @media (max-width: 768px) {
        margin-right: 0;
        width: auto;
      }
    }

    &-form {
      width: 560px;
      border: 2px solid $primary-color;
      border-radius: 6px;
      box-shadow: $card-shadow;
      background-color: white;
      padding: 50px 40px 40px 40px;

      @media (min-width: 1001px) {
        position: absolute;
        top: 30px;
        right: 20px;
      }

      @media (max-width: 1000px) {
        order: 2;
      }

      &-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 640px) {
          flex-direction: column;
          justify-content: center;
        }
      }

      &-info-1 {
        order: 1;
        padding-right: 10px;
        padding-bottom: 22px;

        @media (max-width: 640px) {
          margin: auto;
          text-align: center; // For IE 11
          padding-right: 0;
          padding-bottom: 11px;
        }
      }

      &-info-1-block {
        display: inline-block;
      }

      &-info-2 {
        order: 2;
        width: 175px;

        @media (max-width: 640px) {
          width: auto;
          order: 3;
          padding-bottom: 20px;
          margin: auto;
          text-align: center; // For IE 11
          > div {
            display: inline-block;
          }
        }
      }

      &-info-3 {
        order: 3;
        max-width: 220px;

        @media (max-width: 640px) {
          max-width: 100%;
          order: 2;
          text-align: center;
          padding-bottom: 20px;
        }
      }

      &-info-4 {
        order: 4;

        @media (max-width: 640px) {
          text-align: center;
        }
      }

      &-info-caption {
        color: #8B8B8B;
        padding-bottom: 2px;
        line-height: 24px;
        margin-right: 5px;
        text-align: left; // For IE 11
      }

      &-sign {
        padding: 27px 6px 0 6px;
      }

      &-slider-block {
        padding-bottom: 25px;
      }

      &-slider {
        padding: 10px 0;
      }

      &-slider-caption {
        display: flex;
        justify-content: space-between;
      }

      &-title-1 {
        font-weight: $header-font-weight;
        font-size: 18px;
        line-height: 22px;
      }

      &-title-2 {
        font-weight: $header-font-weight;
        font-size: 18px;
        line-height: 22px;
        text-align: left; // For IE 11
      }

      &-small {
        font-size: 14px;
        color: #8B8B8B;
        line-height: 18px;
      }

      @media (max-width: 1000px) {
        display: block;
        margin: 10px auto auto;
      }

      @media (max-width: 640px) {
        width: 100%;
        height: auto;
        border: none;
        border-radius: 0;
        border-top: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  .l-work {
  }

  .work {
    &-title {
      @media (max-width: 640px) {
        text-align: center;
      }
    }

    &-point {
      padding-top: 30px;
      display: flex;

      > p {
        margin: 0;
        margin-top: 10px;
      }
    }

    &-point-icon {
      display: none;
      margin-right: 16px;

      @media (max-width: 640px) {
        display: block;
      }
    }

    &-point-text {
      @media (max-width: 640px) {
        padding-top: 5px;
      }
    }

    &-hand {
      margin-top: 48px;
      display: inline-block;
      margin-right: 100px;

      @media (max-width: 640px) {
        display: none;
      }
    }

    &-description {
      width: 65%;
      display: inline-block;

      @media (max-width: 640px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  .l-programs {
    padding-top: 120px;
    padding-bottom: 80px;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 10;

    @media (max-width: 640px) {
      padding-bottom: 48px;
    }
  }

  .programs {
    max-width: 1000px;
    padding-top: 50px;

    @media (max-width: 640px) {
      padding-top: 30px;
    }
  }

  ._program-bg {
    @extend ._bg;
    width: 300px;
    height: 200px;
    margin: auto;
  }

  @mixin program-bg($path) {
    @extend ._program-bg;
    background-image: url('./assets/images/program-#{$path}.jpg');
  }

  @for $i from 1 through 6 {
    .program-#{$i} {
      @include program-bg($i);
    }
  }

  .program {
    position: relative;
    width: 300px;
    height: 436px;
    margin: 15px;
    display: inline-block;
    box-shadow: $card-shadow;
    border-radius: 6px;
    background: white;

    &-image {
      height: 200px;
      background-color: lightblue;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &-content {
      padding: 30px 26px;
      text-align: center;
    }

    &-hit {
      width: 80px;
      height: 80px;
      margin: auto;
      position: absolute;
      top: 130px;
      left: 0;
      right: 0;
      border-radius: 50%;
      background-color: #FF1F6B;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    }

    &-hit-icon {
      margin-top: 12px;
    }

    &-hit-caption {
      font-weight: $header-font-weight;
      font-size: 14px;
      color: white;
      margin-top: 4px;
      text-transform: uppercase;
    }

    @media (max-width: 600px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .l-stat {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

    @media (max-width: 640px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }

  .stat-list {
    padding-top: 5px;

    @media (max-width: 640px) {
      padding-top: 15px;
    }
  }

  .stat {
    width: 300px;
    height: 200px;
    border-radius: 6px;
    border: 2px solid #F2F2F2;
    margin: 15px;
    display: inline-block;
    padding-top: 50px;

    &-title {
      font-size: 3.375rem;
      font-weight: $header-font-weight;
      line-height: 3.333rem;
      margin-bottom: 20px;
    }

    &-subtitle {
      font-size: 0.792rem;
      font-weight: $header-font-weight;
      text-transform: uppercase;
    }

    &-divider {
      width: 260px;
      height: 1px;
      display: none;
      background-color: #F2F2F2;
      margin: auto;
      margin-top: 70px;

      @media (max-width: 670px) {
        display: block;
      }
    }

    @media (max-width: 670px) {
      display: block;
      margin: auto;
      border-top: none;
      border-bottom: none;
      border-radius: 0;

      &:first-child {
        margin-top: 15px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-top: 2px solid #F2F2F2;
      }
      &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom: 2px solid #F2F2F2;
      }
    }
  }

  .l-comments {
    padding-top: 80px;
    padding-bottom: 38px;
    text-align: center;

    &-container {
      padding: 0 50px;

      @media (max-width: 640px) {
        padding: 0 40px;
      }
    }

    @media (max-width: 640px) {
      padding-top: 60px;
    }
  }

  .comment-controls {
    position: relative;

    &-prev,
    &-next {
      width: 40px;
      position: absolute;
      top: 35px;
      z-index: 10;
      opacity: 0.5;
      cursor: pointer;
      transition: ease 0.2s;

      &:hover {
        opacity: 1;
      }
    }

    &-prev {
      left: -10px;
    }

    &-next {
      right: -10px;
    }
  }

  .comment {
    &-text {
      font-size: 18px;
      font-weight: 400;
      color: black;
      line-height: 24px;
      margin: 30px auto 18px auto;
      max-width: 760px;

      @media (max-width: 850px) {
        max-width: 600px;
      }
    }

    &-author {
      line-height: 24px;
    }
  }

  .l-mission {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 10;

    @media (max-width: 640px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .mission {
    max-width: 960px;
    height: 387px;
    border-radius: 6px;
    box-shadow: $card-shadow;
    margin: auto;
    display: flex;
    background: white;

    &-photo {
      @extend ._bg;
      background-image: url('./assets/images/sweet-pair.jpg');
      width: 50%;
      background-color: #F5F5F7;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;

      @media (max-width: 768px) {
        height: 363px;
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 6px;
      }
    }

    &-content {
      width: 50%;
      text-align: center;
      padding: 40px;

      > p {
        margin: 0;
        line-height: 24px;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 640px) {
        padding: 30px 20px 40px 20px;
      }
    }

    &-title {
      padding-bottom: 30px;
      font-size: 0.813rem;
      font-weight: $header-font-weight;
      text-transform: uppercase;
      color: #8B8B8B;

      @media (max-width: 640px) {
        padding-bottom: 20px;
      }
    }

    &-divider {
      height: 2px;
      width: 50px;
      background-color: #8B8B8B;
      margin: 30px auto;

      @media (max-width: 640px) {
        margin: 20px auto;
      }
    }

    @media (max-width: 1000px) {
      max-width: 728px;
      height: 487px;
    }

    @media (max-width: 768px) {
      height: auto;
      max-width: 450px;
      flex-direction: column;
    }
  }

  .l-faq {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    @media (max-width: 640px) {
      padding-bottom: 80px;
      padding-top: 80px;
    }
  }

  .faq {
    &-content {
      text-align: left;
      padding-top: 60px;
      padding-left: 100px;

      @media (max-width: 768px) {
        padding-left: 0;
      }
      @media (max-width: 640px) {
        padding-top: 40px
      }
    }

    &-question {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      &-text {
        cursor: pointer;
        display: inline;
        font-size: 18px;
        color: #1D93F4;
        line-height: 24px;
        border-bottom: 1px dashed #1D93F4;
        transition: ease 0.2s;

        &:hover {
          color: #1466AA;
          border-color: #1466AA;
        }
      }
    }

    &-answer {
      display: none;
      padding-left: 17px;
      padding-bottom: 15px;
      margin-top: 20px;
      line-height: 24px;

      &.is-open {
        display: block;
      }
    }

    &-subpoint {
      padding: 5px 0 5px 15px;

      &:first-child {
        padding-top: 10px;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.8);
        margin-right: 10px;
        margin-bottom: 2px
      }
    }
  }

  .l-upstair {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background: linear-gradient(135deg, #FCEB6F, #FEDE60);
  }

  .upstair-up-btn {
    padding-top: 30px;
  }

  .l-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-slogan,
  .about,
  .about-copyright,
  .email,
  .about-phone-text {
    font-size: 0.813rem;
    color: #8B8B8B;
    line-height: 18px;
  }

  .footer {
    &-logo {
      @extend ._logo;

      width: 121px;
      height: 36px;
    }

    &-section {
      display: inline-block;
      vertical-align: top;
      padding-bottom: 23px;
      padding-right: 50px;
    }

    &-slogan {
      max-width: 250px;
      padding-top: 10px;
      font-size: 0.813rem;
      color: #8B8B8B;
      line-height: 18px;
    }
  }

  .about {
    &-copyright {
      padding-top: 25px;
      font-size: 0.813rem;
      color: #8B8B8B;
      line-height: 18px;
    }

    &-phone {
      font-size: 0.938rem;
      font-weight: $header-font-weight;
    }
  }

  .safety-padding {
    margin-left: 10px;
  }

  .safety {
    padding-top: 24px;
    color: #8B8B8B;
    line-height: 24px;
    display: flex;

    &-icon {
      margin-right: 10px;
    }

    &-text {

    }

    @media (max-width: 640px) {
      display: none;
    }
  }

  // Common styles

  .title-1 {
    font-size: 2.625rem;
    font-weight: $header-font-weight;
    line-height: 3rem;

    @media (max-width: 640px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .title-2 {
    font-size: 2.625rem;
    font-weight: $header-font-weight;
    line-height: 3.000rem;

    @media (max-width: 640px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .title-3 {
    font-size: 24px;
    font-weight: $header-font-weight;
    line-height: 28px;
  }

  .title-6 {
    font-weight: $header-font-weight;
    text-transform: uppercase;
  }

  .subtitle-2 {
    color: #8B8B8B;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;

    &.subtitle-2-dark {
      color: #1D1D1D;
    }
  }

  .title-1,
  .title-2 {
    display: inline-block;
  }

  .btn {
    $btn-color: white;
    border: none;
    cursor: pointer;
    background-color: $btn-color;
    outline: none;
    transition: ease 0.2s;
    padding: 0 20px;
    font-weight: $header-font-weight;
    font-size: $base-font-size;
    border-radius: 99px;
    height: 40px;
    color: #1D1D1D;

    &:hover {
      background-color: shade($btn-color, 5%);
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }

    &-link {
      background-color: transparent;
      text-decoration: none;
      color: #797979;
      cursor: pointer;
      
    }

    &.btn-lg {
      padding: 0 30px;
      height: 60px;
      line-height: 24px;
      font-size: 1.25rem;
      border-radius: 99px;
    }

    &.is-primary {
      background-color: $primary-color;

      &:hover {
        background-color: shade($primary-color, 5%);
      }
    }

    &.btn-outline {
      border: 1px solid rgba(0, 0, 0, 0.3);
      background-color: transparent;

      &:hover {
        border: 1px solid #FFE02C;
        background-color: #FFE02C;
      }
    }

    &.btn-shadow {
      box-shadow: 0 20px 20px rgba(49, 77, 102, 0.08);
    }
  }

  .link {
    color: #1D93F4;
    cursor: pointer;

    &:hover {
      color: #1466AA;
    }
  }

  .no-wrap {
    white-space: nowrap
  }

  // =============================================
  // Custom styles added after migration from the old repo.
  // =============================================

  .comment-controls .icon {
    width: 21px;
    height: 38px;
  }

  .icon.like-big-icon {
    width: 222px;
    height: 224px;
  }

  .icon.like-icon {
    width: 40px;
    height: 41px;
  }

  .safety-icon .icon {
    width: 14px;
    height: 18px;
  }

  .expanded-info {
    margin-top: 10px;
    margin-left: 24px;

    @media (max-width: 640px) {
      margin-left: 0;
    }
  }

  .expanded-info__caption {
    color: #1D93F4;
    border-bottom: 1px dashed #1D93F4;
    cursor: pointer;
    line-height: 20px;
    display: inline;

    &:hover {
      color: #1466AA;
      border-color: #1466AA;
    }

    @media (max-width: 640px) {
      text-align: center;
    }
  }

  .expanded-info__content {
    padding-top: 10px;
    line-height: 20px;
  }
}
