<!DOCTYPE html>
<html>
  <head>
    <!--
         sha: <%= process.env.COMMIT_SHA %>
         branch: <%= process.env.BRANCH_NAME %>
         built_time: <%= (new Date()).toISOString() %>
         env: <%= process.env.ENV %>
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <% if (process.env.METRICS) { %>
    <meta name="google-site-verification" content="_zv5KgviXWQIbPU_sbBS17bd8uNRpmXbtKBsbDKRthA" />
    <meta name="yandex-verification" content="b135ce397dc555b4" />
    <% } %>

    <title>
      <% if (process.env.THEME === 'eng') { %>
        Loan for any purpose
      <% } else { %>
        Подбор займов
      <% } %>
    </title>

    <% if (process.env.METRICS) { %>
    <script>
     window.dataLayer = window.dataLayer || [];
     window.dataLayer.push({ originalPage: window.location.href });
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
       w[l] = w[l] || [];
       w[l].push({
         'gtm.start': new Date().getTime(), event: 'gtm.js',
       });
       var f = d.getElementsByTagName(s)[0],
           j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
       j.async = true;
       j.src =
         'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
       f.parentNode.insertBefore(j, f);
     })(window, document, 'script', 'dataLayer', 'GTM-PT6QBRC');</script>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PT6QBRC"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% } %>

    <% if (process.env.THEME === 'default') { %>
    <link rel="preload" href="/static/assets/Circe.woff2" as="font" type="font/woff2" crossorigin="true">
    <link rel="preload" href="/static/assets/CirceBold.woff2" as="font" type="font/woff2" crossorigin="true">
    <% } else if (process.env.THEME === 'beeline') { %>
    <link rel="preload" href="/static/assets/OfficinaSerifC-Book.woff2" as="font" type="font/woff2" crossorigin="true">
    <% } else if (process.env.THEME === 'tele2') { %>
    <link rel="preload" href="/static/assets/Tele2DisplaySerif-Bold.woff2" as="font" type="font/woff2" crossorigin="true">
    <link rel="preload" href="/static/assets/Tele2DisplaySerif-Regular.woff2" as="font" type="font/woff2" crossorigin="true">
    <link rel="preload" href="/static/assets/Tele2TextSans-Bold.woff2" as="font" type="font/woff2" crossorigin="true">
    <link rel="preload" href="/static/assets/Tele2TextSans-Regular.woff2" as="font" type="font/woff2" crossorigin="true">
    <% } %>

    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <link href="<%= htmlWebpackPlugin.files.css[0] %>" rel="stylesheet">
  </head>
  <body>

    <div id="app"><!--APP--></div>
    <script type="text/javascript" charset="utf-8">
     window.__PRELOADED_STATE__ = 'STATE';
    </script>

    <% if (process.env.ERROR_LOG) { %>
    <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js"></script>
    <script>
     Raven.config('https://6c45d7350261418e9d3ecfc55d66eda5@sentry.io/160486', {
       environment: '<%=process.env.ENV%>',
       release: '<%=process.env.COMMIT_SHA%>',
     }).install();
    </script>
    <% } %>

    <!--JS-->
    <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <!--JS-->
  </body>
</html>
